extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	section.section.section_welcome(data-section='הראשי')
		.welcome
			.inner
				.section__content
					.section__title לספק מזון מוכן במשך כל השבוע.
					.section__text אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תחזוקה, הפחתה או עלייה במשקל. כל תוכנית מספקת מבחר קלוריות.
					.section__btn
						.btn.btn_solid(data-popup-open=".popup_order"): span לסדר
						.btn.btn_border(onclick="fullpage_api.moveTo(2)"): span התפריט שלנו

				.section__aside.section__aside_image: img(src='https://placeimg.com/640/480/any')

	section.section.section_menu(data-section='את התוכניות')
		.menu
			.inner
				.section__content
					form(action='http://israelfood.maestros.ru/data/test.php', method='post')
						.section__title את התוכניות

						//-.section__tablink
							.section__tablink-item
								.section__tablink-link.is-active(data-tab-link='menu_1', data-tab-group='menu'): span 1500
							.section__tablink-item
								.section__tablink-link(data-tab-link='menu_2', data-tab-group='menu'): span 2000
							.section__tablink-item
								.section__tablink-link(data-tab-link='menu_3', data-tab-group='menu'): span 2500
							.btn.btn_border(data-popup-open='.popup_calculator'): span לחשב קלוריות

						.section__tablink
							.form__line
								label.form__field
									input(data-menu-switch, type="radio", value="1500", name="menu_calories", checked)
									.form__field-label: span 1500
								label.form__field
									input(data-menu-switch, type="radio", value="2000", name="menu_calories")
									.form__field-label: span 2000
								label.form__field
									input(data-menu-switch, type="radio", value="2500", name="menu_calories")
									.form__field-label: span 2500
								.btn.btn_border(data-popup-open='.popup_calculator'): span לחשב קלוריות


						//-.section__text
							div.is-active(data-tab-target='menu_1', data-tab-group='menu') אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תחזוקה, הפחתה או עלייה במשקל. כל תוכנית מספקת מבחר קלוריות.
							div(data-tab-target='menu_2', data-tab-group='menu') אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תחזוקה, הל תוכנית מספקת פחתה או עלייה במשקל. כמבחר קלוריות.
							div(data-tab-target='menu_3', data-tab-group='menu') אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תחזוקה, הפחתה או עליינית מספקת מבחר קלוריה במשקל. כל תוכות.

						.section__text(data-menu-comment) אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תחזוקה, הפחתה או עלייה במשקל. כל תוכנית מספקת מבחר קלוריות.


						//-.section__tablink
							.section__tablink-item
								.section__tablink-link.is-active(data-tab-link='week_1', data-tab-group='week'): span Неделя 1
							.section__tablink-item
								.section__tablink-link(data-tab-link='week_2', data-tab-group='week'): span Неделя 2


						.section__tablink
							.form__line
								label.form__field
									input(data-menu-switch, type="radio", value="1", name="menu_week", checked)
									.form__field-label: span Неделя 1
								label.form__field
									input(data-menu-switch, type="radio", value="2", name="menu_week")
									.form__field-label: span Неделя 2

						.form__line
							label.form__field
								input(data-menu-switch, type="radio", value="1", name="menu_day", checked)
								.form__field-label: span יום ראשון
							label.form__field
								input(data-menu-switch, type="radio", value="2", name="menu_day")
								.form__field-label: span יום שני
							label.form__field
								input(data-menu-switch, type="radio", value="3", name="menu_day")
								.form__field-label: span יום שלישי
							label.form__field
								input(data-menu-switch, type="radio", value="4", name="menu_day")
								.form__field-label: span יום רביעי
							label.form__field
								input(data-menu-switch, type="radio", value="5", name="menu_day")
								.form__field-label: span יום חמישי
							label.form__field
								input(data-menu-switch, type="radio", value="6", name="menu_day")
								.form__field-label: span יום שישי
							label.form__field
								input(data-menu-switch, type="radio", value="7", name="menu_day", disabled)
								.form__field-label: span יום שבת
								.form__field-hint: span אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250


						//-div.is-active(data-tab-target='week_1', data-tab-group='week')

							.form__line.is-active(data-tab-target='menu_1', data-tab-group='menu')
								label.form__field
									input(data-menu-choose="1500_1", type="radio", value="1", name="week_1-menu_1", checked, data-require="true")
									.form__field-label: span יום ראשון
								label.form__field
									input(data-menu-choose="1500_2", type="radio", value="2", name="week_1-menu_1", data-require="true")
									.form__field-label: span יום שני
								label.form__field
									input(data-menu-choose="1500_3", type="radio", value="3", name="week_1-menu_1", data-require="true")
									.form__field-label: span יום שלישי
								label.form__field
									input(data-menu-choose="1500_4", type="radio", value="4", name="week_1-menu_1", data-require="true")
									.form__field-label: span יום רביעי
								label.form__field
									input(data-menu-choose="1500_5", type="radio", value="5", name="week_1-menu_1", data-require="true")
									.form__field-label: span יום חמישי
								label.form__field
									input(data-menu-choose="1500_6", type="radio", value="6", name="week_1-menu_1", data-require="true")
									.form__field-label: span יום שישי
								label.form__field
									input(data-menu-choose="1500_7", type="radio", value="7", name="week_1-menu_1", data-require="true", disabled)
									.form__field-label: span יום שבת
									.form__field-hint: span אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250


							.form__line(data-tab-target='menu_2', data-tab-group='menu')
								label.form__field
									input(data-menu-choose="2000_1", type="radio", value="1", name="week_1-menu_2", data-require="true")
									.form__field-label: span יום ראשון
								label.form__field
									input(data-menu-choose="2000_2", type="radio", value="2", name="week_1-menu_2", data-require="true")
									.form__field-label: span יום שני
								label.form__field
									input(data-menu-choose="2000_3", type="radio", value="3", name="week_1-menu_2", data-require="true")
									.form__field-label: span יום שלישי
								label.form__field
									input(data-menu-choose="2000_4", type="radio", value="4", name="week_1-menu_2", data-require="true")
									.form__field-label: span יום רביעי
								label.form__field
									input(data-menu-choose="2000_5", type="radio", value="5", name="week_1-menu_2", data-require="true")
									.form__field-label: span יום חמישי
								label.form__field
									input(data-menu-choose="2000_6", type="radio", value="6", name="week_1-menu_2", data-require="true")
									.form__field-label: span יום שישי
								label.form__field
									input(data-menu-choose="2000_7", type="radio", value="7", name="week_1-menu_2", data-require="true", disabled)
									.form__field-label: span יום שבת
									.form__field-hint: span אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250



							.form__line(data-tab-target='menu_3', data-tab-group='menu')
								label.form__field
									input(data-menu-choose="2500_1", type="radio", value="1", name="week_1-menu_3", data-require="true")
									.form__field-label: span יום ראשון
								label.form__field
									input(data-menu-choose="2500_2", type="radio", value="2", name="week_1-menu_3", data-require="true")
									.form__field-label: span יום שני
								label.form__field
									input(data-menu-choose="2500_3", type="radio", value="3", name="week_1-menu_3", data-require="true")
									.form__field-label: span יום שלישי
								label.form__field
									input(data-menu-choose="2500_4", type="radio", value="4", name="week_1-menu_3", data-require="true")
									.form__field-label: span יום רביעי
								label.form__field
									input(data-menu-choose="2500_5", type="radio", value="5", name="week_1-menu_3", data-require="true")
									.form__field-label: span יום חמישי
								label.form__field
									input(data-menu-choose="2500_6", type="radio", value="6", name="week_1-menu_3", data-require="true")
									.form__field-label: span יום שישי
								label.form__field
									input(data-menu-choose="2500_7", type="radio", value="7", name="week_1-menu_3", data-require="true", disabled)
									.form__field-label: span יום שבת
									.form__field-hint: span אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250


						//- div(data-tab-target='week_2', data-tab-group='week')

							.form__line.is-active(data-tab-target='menu_1', data-tab-group='menu')
								label.form__field
									input(data-menu-choose="1500_1", type="radio", value="1", name="week_2-menu_1", checked, data-require="true")
									.form__field-label: span יום ראשון
								label.form__field
									input(data-menu-choose="1500_2", type="radio", value="2", name="week_2-menu_1", data-require="true")
									.form__field-label: span יום שני
								label.form__field
									input(data-menu-choose="1500_3", type="radio", value="3", name="week_2-menu_1", data-require="true")
									.form__field-label: span יום שלישי
								label.form__field
									input(data-menu-choose="1500_4", type="radio", value="4", name="week_2-menu_1", data-require="true")
									.form__field-label: span יום רביעי
								label.form__field
									input(data-menu-choose="1500_5", type="radio", value="5", name="week_2-menu_1", data-require="true")
									.form__field-label: span יום חמישי
								label.form__field
									input(data-menu-choose="1500_6", type="radio", value="6", name="week_2-menu_1", data-require="true")
									.form__field-label: span יום שישי
								label.form__field
									input(data-menu-choose="1500_7", type="radio", value="7", name="week_2-menu_1", data-require="true", disabled)
									.form__field-label: span יום שבת
									.form__field-hint: span אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250


							.form__line(data-tab-target='menu_2', data-tab-group='menu')
								label.form__field
									input(data-menu-choose="2000_1", type="radio", value="1", name="week_2-menu_2", data-require="true")
									.form__field-label: span יום ראשון
								label.form__field
									input(data-menu-choose="2000_2", type="radio", value="2", name="week_2-menu_2", data-require="true")
									.form__field-label: span יום שני
								label.form__field
									input(data-menu-choose="2000_3", type="radio", value="3", name="week_2-menu_2", data-require="true")
									.form__field-label: span יום שלישי
								label.form__field
									input(data-menu-choose="2000_4", type="radio", value="4", name="week_2-menu_2", data-require="true")
									.form__field-label: span יום רביעי
								label.form__field
									input(data-menu-choose="2000_5", type="radio", value="5", name="week_2-menu_2", data-require="true")
									.form__field-label: span יום חמישי
								label.form__field
									input(data-menu-choose="2000_6", type="radio", value="6", name="week_2-menu_2", data-require="true")
									.form__field-label: span יום שישי
								label.form__field
									input(data-menu-choose="2000_7", type="radio", value="7", name="week_2-menu_2", data-require="true", disabled)
									.form__field-label: span יום שבת
									.form__field-hint: span אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250



							.form__line(data-tab-target='menu_3', data-tab-group='menu')
								label.form__field
									input(data-menu-choose="2500_1", type="radio", value="1", name="week_2-menu_3", data-require="true")
									.form__field-label: span יום ראשון
								label.form__field
									input(data-menu-choose="2500_2", type="radio", value="2", name="week_2-menu_3", data-require="true")
									.form__field-label: span יום שני
								label.form__field
									input(data-menu-choose="2500_3", type="radio", value="3", name="week_2-menu_3", data-require="true")
									.form__field-label: span יום שלישי
								label.form__field
									input(data-menu-choose="2500_4", type="radio", value="4", name="week_2-menu_3", data-require="true")
									.form__field-label: span יום רביעי
								label.form__field
									input(data-menu-choose="2500_5", type="radio", value="5", name="week_2-menu_3", data-require="true")
									.form__field-label: span יום חמישי
								label.form__field
									input(data-menu-choose="2500_6", type="radio", value="6", name="week_2-menu_3", data-require="true")
									.form__field-label: span יום שישי
								label.form__field
									input(data-menu-choose="2500_7", type="radio", value="7", name="week_2-menu_3", data-require="true", disabled)
									.form__field-label: span יום שבת
									.form__field-hint: span אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250




						.section__links
							.btn.btn_link(data-popup-open='#menuContain'): span קרא עוד


						.section__btn
							.prise: span(data-menu-price) 1500 ₪
							//-.prise.is-active(data-tab-target='menu_1', data-tab-group='menu'): span 1500 ₪
							//-.prise(data-tab-target='menu_2', data-tab-group='menu'): span 2000 ₪
							//-.prise(data-tab-target='menu_3', data-tab-group='menu'): span 2500 ₪
							.btn.btn_solid(data-popup-open=".popup_order"): span לסדר


				.section__aside.section__aside_image
					.section__aside-image.is-active(data-menu-image): img(src='https://placeimg.com/640/480/animals')
					//-
						// вс 1500
						.section__aside-image.is-active(data-menu-target='1500_1'): img(src='https://placeimg.com/640/480/animals')
						// пн 1500
						.section__aside-image(data-menu-target='1500_2'): img(src='https://placeimg.com/640/480/arch')
						// вт 1500
						.section__aside-image(data-menu-target='1500_3'): img(src='https://placeimg.com/640/480/nature')
						// ср 1500
						.section__aside-image(data-menu-target='1500_4'): img(src='https://placeimg.com/640/480/nature')
						// чт 1500
						.section__aside-image(data-menu-target='1500_5'): img(src='https://placeimg.com/640/480/nature')
						// пт 1500
						.section__aside-image(data-menu-target='1500_6'): img(src='https://placeimg.com/640/480/nature')
						// вс 1500
						.section__aside-image(data-menu-target='2000_1'): img(src='https://placeimg.com/640/480/animals')
						// пн 2000
						.section__aside-image(data-menu-target='2000_2'): img(src='https://placeimg.com/640/480/arch')
						// вт 2000
						.section__aside-image(data-menu-target='2000_3'): img(src='https://placeimg.com/640/480/nature')
						// ср 2000
						.section__aside-image(data-menu-target='2000_4'): img(src='https://placeimg.com/640/480/nature')
						// чт 2000
						.section__aside-image(data-menu-target='2000_5'): img(src='https://placeimg.com/640/480/nature')
						// пт 2000
						.section__aside-image(data-menu-target='2000_6'): img(src='https://placeimg.com/640/480/nature')
						// вс 2500
						.section__aside-image(data-menu-target='2500_1'): img(src='https://placeimg.com/640/480/animals')
						// пн 2500
						.section__aside-image(data-menu-target='2500_2'): img(src='https://placeimg.com/640/480/arch')
						// вт 2500
						.section__aside-image(data-menu-target='2500_3'): img(src='https://placeimg.com/640/480/nature')
						// ср 2500
						.section__aside-image(data-menu-target='2500_4'): img(src='https://placeimg.com/640/480/nature')
						// чт 2500
						.section__aside-image(data-menu-target='2500_5'): img(src='https://placeimg.com/640/480/nature')
						// пт 2500
						.section__aside-image(data-menu-target='2500_6'): img(src='https://placeimg.com/640/480/nature')

	section.section.section_advantage(data-section='היתרונות שלנו')
		.advantage
			.inner

				.section__content
					.section__title היתרונות שלנו

					.section__tablink
						.section__tablink-item
							.section__tablink-link.is-active(data-tab-link='advantage_1', data-tab-group='advantage'): span תפריט מגוון
							.section__tablink-comment אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תחזוקה, הפחתה או עלייה במשקל. כל תוכנית מספקת מבחר קלוריות.
						.section__tablink-item
							.section__tablink-link(data-tab-link='advantage_2', data-tab-group='advantage'): span חיסכון בזמן
							.section__tablink-comment אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תוכנית מספקת תחזוקה, הפחתה או עלייה במשקל. כל מבחר קלוריות.
						.section__tablink-item
							.section__tablink-link(data-tab-link='advantage_3', data-tab-group='advantage'): span ספירת קלוריות
							.section__tablink-comment אנו מציעים 5 תוכניות תזונתיים בהתאם  עלייה במשקל. כל תוכנית מספקת מבחר קלוריות.
						.section__tablink-item
							.section__tablink-link(data-tab-link='advantage_4', data-tab-group='advantage'): span משלוח חינם
							.section__tablink-comment אנו מציעים 5 תוכניות תזונתיים בהתאם ליעדים: תחזוקה, הפחתה או עלייה במשקל. כל תוכנית מספקת מבחרליעדים: תחזוקה, הפחתה או קלוריות.


					.section__btn
						.btn.btn_solid(data-popup-open=".popup_order"): span לסדר

				.section__aside.section__aside_image
					.section__aside-image.is-active(data-tab-target='advantage_1', data-tab-group='advantage'): img(src='https://placeimg.com/640/480/animals')
					.section__aside-image(data-tab-target='advantage_2', data-tab-group='advantage'): img(src='https://placeimg.com/640/480/arch')
					.section__aside-image(data-tab-target='advantage_3', data-tab-group='advantage'): img(src='https://placeimg.com/640/480/nature')
					.section__aside-image(data-tab-target='advantage_4', data-tab-group='advantage'): img(src='https://placeimg.com/640/480/people')



	section.section.section_delivery(data-section='משלוח')
		.delivery
			.inner
				.section__content
					.section__title משלוח
					.section__text
						ol
							li משלוחים מתבצעים 2 או 3 פעמים בשבוע, בהתאם לתעריף הנבחר
							li אנו מספקים בשעות הערב בין השעות 20: 00-23: 00 ובבוקר למחרת בין השעות 7: 00-12: 00
							li מרווח המסירה בהתנחלויות באזור לנינגרד מתואם עם השליח
							li אם לא מצאת את השטח שלך על מפת המסירה, אל תהיה עצוב! התקשר אלינו ואנו נפתור בעיה זו בטלפון.

					.section__links
						.btn.btn_link(data-popup-open=".popup_delivery"): span קרא עוד
						.btn.btn_link(data-popup-open=".popup_map"): span על כרטיס גדול

					.section__btn
						.btn.btn_solid(data-popup-open=".popup_order"): span לסדר

	section.section.section_social(data-section='עקוב אחרינו')
		.social
			.inner
				.section__content
					.section__title עקוב אחרינו
					.section__text
						p עקוב אחרינו באינטרנט
						p: a(href='#', target='_blank') #מזון_לבריות
						p: a(href='#', target='_blank') #טעיםשימושי
						p: a(href='#', target='_blank') #אספקהנכונהשלתזונה
						p: a(href='#', target='_blank') #חסוךזמן
						br
						p ביקורות נוספות תמצאו כאן. #[a(href='#', target='_blank') @מזון_לבריות ]
						br
						p

					.section__foot
						+socButtons()
						.section__btn
							.btn.btn_solid(data-popup-open=".popup_order"): span לסדר


				.section__aside.section__aside_scroll
					.section__aside-inner
						.social__list
							.social__group
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
							.social__group
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
							.social__group
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
							.social__group
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
							.social__group
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")

							.social__group
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")
								.social__item
									.social__item-inner
										.social__item-image(style="background-image:url(https://placeimg.com/480/480/any);")




	section.section.section_review(data-section='ביקורות')
		.review
			.inner
				.section__content
					.section__title ביקורות
					.section__text
						p עקוב אחרינו באינטרנט
						p: a(href='#', target='_blank') #מזון_לבריות
						p: a(href='#', target='_blank') #טעיםשימושי
						p: a(href='#', target='_blank') #אספקהנכונהשלתזונה
						p: a(href='#', target='_blank') #חסוךזמן
						br
						p ביקורות נוספות תמצאו כאן. #[a(href='#', target='_blank') @מזון_לבריות ]

					.section__btn
						.btn.btn_border.not-fullhd(data-popup-open=".popup_review"): span כל הביקורות
						.btn.btn_solid(data-popup-open=".popup_order"): span לסדר

				.section__aside.section__aside_scroll
					.section__aside-inner
						.review__list
							+reviewItem('fb')
							+reviewItem('ig')
							+reviewItem('fb')
							+reviewItem('ig')
							+reviewItem('fb')
							+reviewItem('ig')
							+reviewItem('fb')
							+reviewItem('ig')




	section.section.section_faq(data-section='שאלות ותשובות')
		.faq
			.inner
				.section__content
					.section__title שאלות ותשובות
					.section__tablink
						.section__tablink-item: .section__tablink-link.is-active(data-tab-link='faq_1', data-tab-group='faq'): span מוצרים
						.section__tablink-item: .section__tablink-link(data-tab-link='faq_2', data-tab-group='faq'): span תעריפים
						.section__tablink-item: .section__tablink-link(data-tab-link='faq_3', data-tab-group='faq'): span תשלום ואספקה
						.section__tablink-item: .section__tablink-link(data-tab-link='faq_4', data-tab-group='faq'): span אחסון

					.section__btn
						.btn.btn_border.only-mobile(data-popup-open=".popup_faq"): span כל הביקורות
						.btn.btn_solid(data-popup-open=".popup_order"): span לסדר

				.section__aside.section__aside_scroll
					.section__aside-inner
						.faq__list.is-active(data-tab-target='faq_1', data-tab-group='faq')
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
						.faq__list(data-tab-target='faq_2', data-tab-group='faq')
							+faqItem()
							+faqItem()
						.faq__list(data-tab-target='faq_3', data-tab-group='faq')
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
						.faq__list(data-tab-target='faq_4', data-tab-group='faq')
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()
							+faqItem()



	section.section.section_footer.fp-auto-height
		.footer
			.inner
				.footer__content
					.footer__column
						.footer__title הירשם לחדשות
						.footer__text הירשם עם כתובת הדוא"ל שלך כדי לקבל: מהדורות חדשות, freebies בלעדי והצעות מיוחדות. אם אתה לא רוצה לפספס שום דבר, פשוט להצטרף לקהילה שלנו. אנחנו אף פעם לא שולחים דואר זבל.

						.footer__form
							form.form(action='', method='post', novalidate, autocomplete='off')
								.form__field
									.form__input
										input(placeholder='הזן את דואר אלקטרוני', type='text', name='email', data-require='email')
								.form__field.form__field_submit
									.form__input
										button(type='submit').btn.btn_solid: span להירשם לחדשות

					.footer__column
						.footer__title לעקוב אחרינו
						.footer__text להישאר בלולאה ולהתעדכן עם הגרסאות העדכניות ביותר שלנו, freebies ומבצעים.
						.footer__social
							+socButtons()
						.footer__subtitle תשלום
						.footer__pay
							+buyButtons()
					.footer__column.footer__column_copy
						.footer__logo: include ../img/svg/logo.svg
						.footer__text מתן שירות לתזונה נכונה. אנחנו מספקים מנות מוכנות ואתה לא צריך לחשוב על בישול. דיאטנים מעורבים בפיתוח של דיאטות.
						.footer__text
							span.link(data-popup-open='#text1') מדיניות הפרטיות
							span.link(data-popup-open='#text2') להציע
						.footer__copyright © 2017 כל הזכויות שמורות



block append
