
@import "scss/var";

@import "scss/mixins";

@import "scss/fonts";

@import "scss/print";

@import "scss/normalize";

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "modules/fullpage";


$scrollbarWidth: 5px;
$scrollbarLineColor: none;
$scrollbarLineWidth: 5px;
$scrollbarDragColor: transparent;
$scrollbarDragWidth: 5px;
$scrollbarMargin: 0;
$scrollbarBorderRadius: 0;
@import "modules/scrollbar";
@import "modules/nouislider";

@import "scss/form";

@import "scss/global";

@import "scss/main";

@import "scss/popup";



html:before {
	//@include grid(10, $gutter, $gutter);
}


