header.header
	.header__handler: i
	.inner
		.header__nav.js-menu
			.header__nav-list
				//-.header__nav-item(data-menuanchor="welcome"): a(href='#welcome').header__nav-link Главная
				.header__nav-item(data-menuanchor="menu"): a(href='#menu').header__nav-link את התוכניות
				.header__nav-item(data-menuanchor="advantage"): a(href='#advantage').header__nav-link היתרונות שלנו
				.header__nav-item(data-menuanchor="delivery"): a(href='#delivery').header__nav-link משלוח
				.header__nav-item(data-menuanchor="social"): a(href='#social').header__nav-link עקוב אחרינו
				.header__nav-item(data-menuanchor="review"): a(href='#review').header__nav-link ביקורות
				.header__nav-item(data-menuanchor="faq"): a(href='#faq').header__nav-link שאלות ותשובות
				//-.header__nav-item(data-menuanchor="footer"): a(href='#footer').header__nav-link Контакты

	.header__logo: include ../../img/svg/logo.svg








