mixin socButtons()
	.social-links
		a(href='#', target='_blank').social-links__item: img(src='../img/svg/soc-fb.svg')
		a(href='#', target='_blank').social-links__item: img(src='../img/svg/soc-ig.svg')


mixin buyButtons(color)
	.pay-list
		.pay-list__item
			if ( color )
				img(src='../img/svg/pay_google.svg')
			else
				img(src='../img/svg/pay_google-gs.svg')
		.pay-list__item
			if ( color )
				img(src='../img/svg/pay_apple.svg')
			else
				img(src='../img/svg/pay_apple-gs.svg')
		.pay-list__item
			if ( color )
				img(src='../img/svg/pay_mastercard.svg')
			else
				img(src='../img/svg/pay_mastercard-gs.svg')
		.pay-list__item
			if ( color )
				img(src='../img/svg/pay_paypal.svg')
			else
				img(src='../img/svg/pay_paypal-gs.svg')
		.pay-list__item
			if ( color )
				img(src='../img/svg/pay_visa.svg')
			else
				img(src='../img/svg/pay_visa-gs.svg')

mixin reviewItem(soc)
	.review__item
		.review__item-head
			.review__item-title קרא סקירה מלאה
			.review__item-ico: img(src='../img/svg/soc-' + soc +'.svg')
		.review__item-image(style="background-image:url(https://placeimg.com/640/480/any);")
		.review__item-info
			.review__item-text באופן כללי, החלטתי לרדת במשקל כאן, להתייבש 🤪 האחרון 2.5 שנים אני כבר עוסקת באופן פעיל #crossfit ואני מבין שזה לא רק על אימון, אלא גם על תזונה! אני לא אוהב לבשל את עצמי, אבל עם לוח הזמנים שלי הירי ואירועים שונים, זה בדרך כלל ado מיותר ואני הבנתי שברתי את הדיאטה שלי ... אז הפתרון הטוב ביותר עבורי היה מאוד טעים ובריא
			.review__item-more: a(href='#') קרא סקירה מלאה


mixin faqItem()
	.faq__item
		.faq__item-title האם אתה משתמש סוכר או ממתיק. אם כן, איזה מהם?
		.faq__item-text בתפריט של קו FIT, סוכר מוחלף על ידי ממתיק טבעי "Fitparad 7". התפריט של קו POWER בכמה מנות מכיל סוכר במינונים קטנים. אתה תמיד יכול לבדוק את הרכב מפורט עם מומחים למוקד הטלפוני שלנו.

mixin dialog()
	.dialog
		.dialog__content
			.dialog__content-close
			.dialog__content-text להזמין שיחה, המנהל שלנו יתקשר אליך בחזרה בקרוב
			.dialog__content-btn
				.btn.btn_solid(data-popup-open='#feedback'): span הזמנת שיחה
			.dialog__content-text או כתוב לנו בצ'אט
			.dialog__content-social
				+socButtons()
		include ../../img/svg/dialog.svg