nav.nav
	.nav__inner
		.nav__menu.js-menu
			.nav__menu-column
				.nav__menu-item(data-menuanchor="welcome"): a(href='#welcome').nav__menu-link
					span.num 01
					span על החברה
				.nav__menu-item(data-menuanchor="menu"): a(href='#menu').nav__menu-link
					span.num 02
					span את התוכניות
				.nav__menu-item(data-menuanchor="advantage"): a(href='#advantage').nav__menu-link
					span.num 03
					span היתרונות שלנו
				.nav__menu-item(data-menuanchor="delivery"): a(href='#delivery').nav__menu-link
					span.num 04
					span משלוח
			.nav__menu-column
				.nav__menu-item(data-menuanchor="social"): a(href='#social').nav__menu-link
					span.num 05
					span עקוב אחרינו
				.nav__menu-item(data-menuanchor="review"): a(href='#review').nav__menu-link
					span.num 06
					span ביקורות
				.nav__menu-item(data-menuanchor="faq"): a(href='#faq').nav__menu-link
					span.num 07
					span שאלות ותשובות
			//-.nav__menu-item(data-menuanchor="footer"): a(href='#footer').nav__menu-link Контакты


		.nav__footer
			.nav__footer-soc
				+socButtons()

			.nav__footer-btn
				.btn.btn_solid(data-popup-open=".popup_order"): span לסדר





