.popup.popup_map
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__map#deliveryMap
				// Сюда зарядить карту.


.popup.popup_review
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.review__ribbon
					+reviewItem('fb')
					+reviewItem('ig')
					+reviewItem('fb')
					+reviewItem('ig')
					+reviewItem('fb')
					+reviewItem('ig')
					+reviewItem('fb')
					+reviewItem('ig')

.popup.popup_faq
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.faq__ribbon
					.faq__title מוצרים
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					.faq__title תעריפים
					+faqItem()
					+faqItem()
					.faq__title תשלום ואספקה
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					.faq__title אחסון
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()
					+faqItem()

.popup.popup_delivery
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.popup__content-inner
					.popup__title משלוח
					p משלוח מתבצע בכל מרווח זמן בין 6 בבוקר עד 12 בלילה בתוך אחד לוחות הזמנים.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.

					.popup__subtitle שינויים
					p אתה יכול להקפיא את התוכנית או לדחות את ימי הארוחות ללא תשלום עד 12 בצהריים של יום לפני הלידה. במקרה של ביטול משלוח לאחר השעה 12 אחר הצהריים לפני הלידה, ימי האספקה "לשרוף", את הכספים עבור "שרפו" ימים אינם מוחזרים.

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					ul
						li עד 17 אחר הצהריים לפני הלידה - ללא תשלום
						li מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל
						li 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.
						li לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					p עד 17 אחר הצהריים לפני הלידה - ללא תשלום מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.

					.popup__subtitle שינויים
					p אתה יכול להקפיא את התוכנית או לדחות את ימי הארוחות ללא תשלום עד 12 בצהריים של יום לפני הלידה. במקרה של ביטול משלוח לאחר השעה 12 אחר הצהריים לפני הלידה, ימי האספקה "לשרוף", את הכספים עבור "שרפו" ימים אינם מוחזרים.

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					ul
						li עד 17 אחר הצהריים לפני הלידה - ללא תשלום
						li מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל
						li 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.
						li לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					p עד 17 אחר הצהריים לפני הלידה - ללא תשלום מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.

		.popup__dialog
			+dialog()
		.popup__btn
			.btn.btn_solid(data-popup-open=".popup_order"): span לסדר




.popup.popup_text#persData
	.popup__overlay
	.popup__inner
		.popup__close(data-popup-open='#feedback')
		.popup__layout
			.popup__content
				.popup__content-inner
					.popup__title משלוח
					p משלוח מתבצע בכל מרווח זמן בין 6 בבוקר עד 12 בלילה בתוך אחד לוחות הזמנים.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.

					.popup__subtitle שינויים
					p אתה יכול להקפיא את התוכנית או לדחות את ימי הארוחות ללא תשלום עד 12 בצהריים של יום לפני הלידה. במקרה של ביטול משלוח לאחר השעה 12 אחר הצהריים לפני הלידה, ימי האספקה "לשרוף", את הכספים עבור "שרפו" ימים אינם מוחזרים.

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					ul
						li עד 17 אחר הצהריים לפני הלידה - ללא תשלום
						li מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל
						li 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.
						li לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					p עד 17 אחר הצהריים לפני הלידה - ללא תשלום מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.

					.popup__subtitle שינויים
					p אתה יכול להקפיא את התוכנית או לדחות את ימי הארוחות ללא תשלום עד 12 בצהריים של יום לפני הלידה. במקרה של ביטול משלוח לאחר השעה 12 אחר הצהריים לפני הלידה, ימי האספקה "לשרוף", את הכספים עבור "שרפו" ימים אינם מוחזרים.

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					ul
						li עד 17 אחר הצהריים לפני הלידה - ללא תשלום
						li מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל
						li 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.
						li לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					p עד 17 אחר הצהריים לפני הלידה - ללא תשלום מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.

.popup.popup_text#text1
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.popup__content-inner
					.popup__title מדיניות הפרטיות
					p משלוח מתבצע בכל מרווח זמן בין 6 בבוקר עד 12 בלילה בתוך אחד לוחות הזמנים.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.


.popup.popup_text#text2
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.popup__content-inner
					.popup__title להציע
					p משלוח מתבצע בכל מרווח זמן בין 6 בבוקר עד 12 בלילה בתוך אחד לוחות הזמנים.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.



.popup.popup_text#menuContain
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.popup__content-inner(data-menu-content)
					.popup__title вс 1500

					p משלוח מתבצע בכל מרווח זמן בין 6 בבוקר עד 12 בלילה בתוך אחד לוחות הזמנים.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.

					.popup__subtitle שינויים
					p אתה יכול להקפיא את התוכנית או לדחות את ימי הארוחות ללא תשלום עד 12 בצהריים של יום לפני הלידה. במקרה של ביטול משלוח לאחר השעה 12 אחר הצהריים לפני הלידה, ימי האספקה "לשרוף", את הכספים עבור "שרפו" ימים אינם מוחזרים.

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					ul
						li עד 17 אחר הצהריים לפני הלידה - ללא תשלום
						li מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל
						li 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.
						li לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					p עד 17 אחר הצהריים לפני הלידה - ללא תשלום מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.

					.popup__subtitle אזור אספקה
					p משלוח בטווח הנבחר הוא ללא תשלום. #[br] משלוח אינו מחוץ לאזור שצוין.

					.popup__subtitle שינויים
					p אתה יכול להקפיא את התוכנית או לדחות את ימי הארוחות ללא תשלום עד 12 בצהריים של יום לפני הלידה. במקרה של ביטול משלוח לאחר השעה 12 אחר הצהריים לפני הלידה, ימי האספקה "לשרוף", את הכספים עבור "שרפו" ימים אינם מוחזרים.

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					ul
						li עד 17 אחר הצהריים לפני הלידה - ללא תשלום
						li מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל
						li 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.
						li לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני

					.popup__subtitle תוכל לבצע שינויים בכתובת או במועד המסירה:
					p עד 17 אחר הצהריים לפני הלידה - ללא תשלום מ 5 עד 9 בערב ביום לפני הלידה - 250 רובל לאחר 21 שעות של יום לפני הלידה - 400 רובל, בעוד המשלוח ייעשה לא לפני 11:00 הטלפון שלנו עובד מ 9 עד 21, בזמנים אחרים אתה יכול לכתוב לנו בצ 'אט. ואנו נגיב ברגע שנראה.


.popup.popup_text#feedback
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.popup__content-inner
					.popup__title הזמנת שיחה

					p להזמין שיחה, המנהל שלנו יתקשר אליך בחזרה בקרוב



					form.form(action='', method='post', novalidate, autocomplete='off')
						.form__group
							.form__title
								.form__title-num 01
								.form__title-name שם פרטי
							.form__line
								label.form__field.w-1
									//-.form__field-title: span הזן כתובת או נקודה על המפה
									input(type="text", value="", name="text_1", data-require="true")

						.form__group
							.form__title
								.form__title-num 02
								.form__title-name טלפון
							.form__line
								label.form__field.w-1
									//-.form__field-title: span הזן כתובת או נקודה על המפה
									input(type="text", value="", name="text_2", data-require="true")

						.form__group
							.form__title
								.form__title-num 03
								.form__title-name זמן השיחה
							.form__line
								label.form__field.w-1
									//-.form__field-title: span הזן כתובת או נקודה על המפה
									input(type="text", value="", name="text_3", data-require="true")

						.form__group
							.form__submit
								button(type='submit').btn.btn_solid: span הזמנת שיחה
								.form__submit-text
									| אני מסכים לעיבוד &nbsp;
									a(href='#', data-popup-open='#persData') נתונים אישיים


.popup.popup_calculator
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.popup__content-inner
					.popup__calculator
						form.form.calculator
							.calculator__title לחשב קלוריות
							.form__group
								.form__title
									.form__title-num 01
									.form__title-name המטרה שלך
								.form__line
									label.form__field
										input(type="radio", value="-0.2", name="effect")
										.form__field-label: span לרדת במשקל
									label.form__field
										input(type="radio", value="0", name="effect")
										.form__field-label: span לשמור על כושר
									label.form__field
										input(type="radio", value="0.1", name="effect")
										.form__field-label: span במשקל

							.form__group
								.form__title
									.form__title-num 02
									.form__title-name המטרה שלך
								.form__line
									label.form__field
										input(type="radio", value="male", name="gender")
										.form__field-label: span גבר
									label.form__field
										input(type="radio", value="female", name="gender")
										.form__field-label: span אישה

							.form__group
								.form__title
									.form__title-num 03
									.form__title-name הפרמטרים שלך
								.form__line
									.form__field
										.form__field-title גיל
										input(type="text", placeholder="__", value="", name="age", min="10", max="100", autocomplete="off", data-mask="9{2,3}")
									.form__field
										.form__field-title צמיחה
										input(type="text", placeholder="__", value="", name="height", min="130", max="230", autocomplete="off", data-mask="9{3}")
									.form__field
										.form__field-title משקל
										input(type="text", placeholder="__", value="", name="weight", min="30", max="200", autocomplete="off", data-mask="9{2,3}")

							.form__group
								.form__title
									.form__title-num 04
									.form__title-name הפעילות שלך
								.form__line
									label.form__field
										input(type="radio", value="1.2", name="activity")
										.form__field-label: span לא עושה
									label.form__field
										input(type="radio", value="1.375", name="activity")
										.form__field-label: span אני עושה 3-1 פעמים בשבוע
									label.form__field
										input(type="radio", value="1.4625", name="activity")
										.form__field-label: span אני עושה 5-3 פעמים בשבוע
									label.form__field
										input(type="radio", value="1.6375", name="activity")
										.form__field-label: span עושה כל יום

							.calculator__result
								span צריכת הקלוריות היומית שלך
								span.c-green קק"ל / יום
								span.c-green.js-calc-result ----



			.popup__aside
				.popup__aside-inner
					.popup__aside-title מתאים לך
					.popup__aside-image: img(src='https://placeimg.com/640/480/any')
					.popup__aside-text התוכנית היא גבוהה מזונות חלבונים לירידה במשקל יעיל. הדיאטה מספקת 5 ארוחות ביום.
					.popup__aside-foot
						.popup__aside-price #[span 2500] ₪
						.popup__aside-btn
							.btn.btn_solid(data-popup-open=".popup_order"): span לסדר






.popup.popup_order
	.popup__overlay
	.popup__inner
		.popup__close
		.popup__layout
			.popup__content
				.popup__content-inner
					.popup__order
						form.order(autocomplete='off')
							.order__nav
								.order__nav-item(data-order-step='1').is-active 1 #[span בחירת תוכנית]
								.order__nav-item(data-order-step='2') 2 #[span אנשי הקשר שלך]
								.order__nav-item(data-order-step='3') 3 #[span שיטת התשלום]

							.order__step.order__step_1.is-active
								.order__form(data-form, data-action='http://israelfood.maestros.ru/data/test.php', data-method='post')
									.order__form-inner
										.form__group
											.form__title
												.form__title-num 01
												.form__title-name התוכנית
											.form__line
												label.form__field
													input(data-order-calories="1500", type="radio", value="1500", name="order_callories", checked, data-require="true")
													.form__field-label: span 1500
												label.form__field
													input(data-order-calories="2000", type="radio", value="2000", name="order_callories", data-require="true")
													.form__field-label: span 2000
												label.form__field
													input(data-order-calories="2500", type="radio", value="2500", name="order_callories", data-require="true")
													.form__field-label: span 2500

										.form__group
											.form__title
												.form__title-num 02
												.form__title-name משך התוכנית
											.form__line

												label.form__field
													input(type="radio", value="1", name="order_duration", checked, data-require="true")
													.form__field-label: span 1 היום
												label.form__field
													input(type="radio", value="2", name="order_duration", data-require="true")
													.form__field-label: span 1 השבוע
												label.form__field
													input(type="radio", value="3", name="order_duration", data-require="true")
													.form__field-label: span 2 השבוע
												label.form__field
													input(type="radio", value="4", name="order_duration", data-require="true")
													.form__field-label: span 3 השבוע
												label.form__field
													input(type="radio", value="5", name="order_duration", data-require="true")
													.form__field-label: span 4 השבוע

										.form__group
											.form__title
												.form__title-num 03
												.form__title-name תאריך מסירה ראשון
											.form__line
												label.form__field
													input(type="radio", value="20", name="order_day", checked, data-require="true")
													.form__field-title שבת
													.form__field-label: span 20
												label.form__field
													input(type="radio", value="21", name="order_day", data-require="true")
													.form__field-title יום שלישי
													.form__field-label: span 21
												label.form__field
													input(type="radio", value="22", name="order_day", disabled, data-require="true")
													.form__field-title יום רביעי
													.form__field-label: span 22
												label.form__field
													input(type="radio", value="23", name="order_day", data-require="true")
													.form__field-title יום חמישי
													.form__field-label: span 23
												label.form__field
													input(type="radio", value="24", name="order_day", data-require="true")
													.form__field-title יום שישי
													.form__field-label: span 24
												label.form__field
													input(type="radio", value="25", name="order_day", data-require="true")
													.form__field-title יום שבת
													.form__field-label: span 25

										.form__group
											.form__title
												.form__title-num 04
												.form__title-name בנוסף
											.form__line
												label.form__field
													input(type="checkbox", value="1", name="checkbox1", checked)
													.form__field-label: span לאכול בשבת
												label.form__field
													input(type="checkbox", value="2", name="checkbox2")
													.form__field-label: span לאכול ביום ראשון

									.order__foot
										.order__foot-price ₪ #[span 2500]
										.order__foot-info ך ימים #[span 5] מנות #[span 5]
										.order__foot-btn
											.btn.btn_solid(data-order-step='2'): span שלב 2

							.order__step.order__step_2
								.order__form
									.order__form-inner
										.form__group
											.form__title
												.form__title-num 05
												.form__title-name פרטים ליצירת קשר
											.form__line
												label.form__field.w-1-3
													.form__field-title: span את השם
													input(type="text", value="", name="qwerty_1", data-require="true")
												label.form__field.w-1-3
													.form__field-title: span טלפון
													input(type="text", value="", name="qwerty_2", data-require="true")
												label.form__field.w-1-3
													.form__field-title: span דוא"ל
													input(type="text", value="", name="qwerty_3", data-require="true")

										.form__group
											.form__title
												.form__title-num 06
												.form__title-name כתובת למשלוח
											.form__line
												label.form__field.w-1
													.form__field-title: span הזן כתובת או נקודה על המפה
													input(type="text", value="", name="qwerty_4", data-require="true")
												label.form__field.w-1-3
													.form__field-title: span את העיר
													input(type="text", value="", name="qwerty_5", data-require="true")
												label.form__field.w-1-3
													.form__field-title: span את הרחוב
													input(type="text", value="", name="qwerty_6", data-require="true")
												label.form__field.w-1-3
													.form__field-title: span את הרחוב
													input(type="text", value="", name="qwerty_7")
												label.form__field.w-1
													.form__field-title: span הערה
													input(type="text", value="", name="qwerty_8")

										.form__group
											.form__title
												.form__title-num 07
												.form__title-name זמן אספקה נוח
											.form__line
												label.form__field.w-2-3.va-m
													.form__range(data-min="960", data-max="1380", data-from="1140", data-to="1260", data-step='1', data-margin='120')
														input(type='hidden', name='time-from').form__range-input.form__range-input_from
														input(type='hidden', name='time-to').form__range-input.form__range-input_to
														.form__range-edge.form__range-edge_min
														.form__range-edge.form__range-edge_max
														.form__range-line

												label.form__field.w-1-3.va-m
													.form__field-title: span פרק זמן מינימלי של שעתיים

									.order__foot
										.order__foot-price ₪ #[span 2500]
										.order__foot-info ך ימים #[span 5] מנות #[span 5]
										.order__foot-btn
											.btn.btn_solid(data-order-step='3'): span שלב 3


							.order__step.order__step_3
								.order__form
									.order__form-inner
										.form__group

											.form__line
												.form__line-hint אם לא נוכל ליצור איתך קשר תוך 10 דקות (מרווח הזמן שתציין) - השליח יגיע לכתובת הבאה. הגעה חוזרת + 250

												label.form__field
													input(type="checkbox", value="1", name="checkbox3", checked)
													.form__field-label: span שליח מזומנים
												label.form__field
													.form__field-title: span הסכום
													input(type="text", value="", name="", data-mask="9{0,10}")
													.form__field-setvalue
														span(data-setvalue='5000') 5&nbsp;000
														span(data-setvalue='10000') 10&nbsp;000
												label.form__field
													input(type="checkbox", value="2", name="checkbox4")
													.form__field-label: span ללא שינוי

										.form__group

											.form__line
												label.form__field
													input(type="checkbox", value="1", name="checkbox3")
													.form__field-label: span תשלום מקוון

												br
												.form__field
													+buyButtons(true)

									.order__foot
										.order__foot-price ₪ #[span 2500]
										.order__foot-info ך ימים #[span 5] מנות #[span 5]
										.order__foot-btn
											button.btn.btn_solid(type="submit"): span לס





			.popup__aside
				.popup__aside-inner
					.order__step.order__step_1.is-active: img(src='https://placeimg.com/640/480/arch')
					.order__step.order__step_2.order__step_3: .order__map#orderMap










.popup.popup_result
	.popup__overlay
	.popup__inner

		.popup__layout
			.popup__close
			.popup__result
				.popup__result-title הזמנת שיחה
				.popup__result-text מספר ההזמנה שלך
				.popup__result-value 662
				.popup__result-text המנהל יפנה אליך בהקדם, יספר לך את הפרטים ויענה על השאלות שלך
				.popup__result-btn
					.btn.btn_solid: span זה בסדר




