include mixin

block vars
doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')/
		//-meta(http-equiv="Content-Type" content="text/html; charset=windows-1251")
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content= pageUrl)/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/
		//-include favicon

		script(src="http://code.jquery.com/jquery-3.3.1.min.js")
		script.
			var accessibilityBaseUrl = "https://www.blacknet.co.il/";
			var url1 = "";
			function formAndLables() {}
			function customAccessibility() {}

		link(rel="stylesheet" href="https://www.blacknet.co.il/accessibility/accessibility_menu.css")
		script(type="text/javascript" src="https://www.blacknet.co.il/accessibility/accessibility_utf8.js")

		block head
	body
		.wrapper
			.wrapper__map#bgMap

			include header
			include nav
			svg.plate(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none")
				path(d="M100 0 L100 100 L60 100 L40 0 Z")
			.hashtag #[span.en foodlabriut#]
			.navigation
				.navigation__index 01
				.navigation__arrow.navigation__arrow_up
				.navigation__section הראשי
				.navigation__arrow.navigation__arrow_down
				.navigation__next 02
			.website
				block content
			+dialog()

			include popups
		block append
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiHAxZCf4YLboE50wT_vEytsYi3OWaREs&callback=initGoogleMap" async defer)
		script(src="js/map.js" async defer)
