
@font-face {
	font-family: 'food';
	src: url('../../fonts/food.eot');
		src: local('☺'),
		url('../../fonts/food.woff') format('woff'),
		url('../../fonts/food.ttf') format('truetype'),
		url('../../fonts/food.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'doodle';
	src: url('../../fonts/doodle.eot');
		src: local('☺'),
		url('../../fonts/doodle.woff') format('woff'),
		url('../../fonts/doodle.ttf') format('truetype'),
		url('../../fonts/doodle.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

