
$formInputPadding: 0 !default;

$formFontSize: 20px !default;
$formLineHeight: 1.2 !default;

$formFieldHeight: 36px !default;
$formBorderRadius: 0 !default;
$formCheckboxWidth: 20px !default;
$formGutter: 34px !default;

$formColorText: black !default;
$formColorFootnote: black !default;
$formColorBorder: rgba($colorBlack, 0.2) !default;
$formColorError: red !default;
$formColorSuccess: green !default;
$formColorFocus: $colorGreen !default;


.form{
	font-size: 0;

	&__line{
		margin: 0 (-$formGutter / 2);
	}

	&__common{
		padding: 0 ($formGutter / 2);
	}

	&__title{

	}

	&__text{

	}


	&__field{
		position: relative;
		font-size: $formFontSize;
		display: inline-block;
		//width: 100%;
		padding: 0 ($formGutter / 2);
		box-sizing: border-box;
		//vertical-align: top;
		//margin-bottom: 30px;

		@include breakPoint($breakPointFHD){
			//margin-bottom: 40px;
		}


		&_submit{


			.btn{
				min-width: 196px;

				@include breakPoint($breakPointFHD){
					min-width: 300px;
				}
			}

		}

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorError!important;
				}
			}
		}

		&.f-success{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorSuccess!important;


				}
			}
		}


		&-hint{
			display: block;
			position: absolute;
			top: 100%;
			right: 0;
			border-radius: 10px;
			padding: 23px 50px 20px 30px;
			box-shadow: 0 2px 5px rgba(0,0,0,.35);
			font-size: 18px;
			width: 370px;
			box-sizing: border-box;
			z-index: 1;
			background: #fff;
			pointer-events: none;
			transition: all 0.5s ease;
			margin-right: 50px;
			opacity: 0;

			span{
				color: $colorBlack;
			}

			&:before{
				content: '';
				width: 2px;
				background: currentColor;
				position: absolute;
				top: 23px;
				bottom: 20px;
				right: 30px;
			}

			@include breakPoint(0, $breakPoint){
				display: none;
			}

			@include breakPoint($breakPointFHD){
				font-size: 20px;
			}
		}

		&:hover{
			.form__field-hint{
				margin-right: -$formGutter / 2;
				opacity: 1;
			}
		}
	}

	&__message{
		position: absolute;
		top: 8px;
		left: ($formGutter / 2);
		width: 18px;
		height: 18px;
		border: 2px solid currentColor;
		border-radius: 50%;
		perspective: 100px;
		text-align: center;

		&:hover{
			.form__message-text{
				opacity: 1;
				margin-bottom: 15px;
				transform:translateX(-50%) scale(1) rotateX(0);
			}
		}

		&-text{
			position: absolute;
			bottom: 100%;
			background: $colorGreen;
			left: 50%;
			color: #fff;
			font-size: 0.8em;
			padding: 5px 15px;
			margin-bottom: 0;
			pointer-events: none;
			opacity: 0;
			transition: all 0.3s ease;
			transform:translateX(-50%) scale(0.5) rotateX(-30deg);
			transform-origin: 50% 50%;
			perspective-origin: 50% 50%;
			display: none !important;

			&:after{
				content: '';
				display: block;
				border: 5px solid transparent;
				border-top-color: $colorGreen;
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -5px;
			}
		}

		&:empty{
			display: none;
		}

		.f-error &{
			color: $formColorError;
			&:after{
				content: '!';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				line-height: 18px;
				font-size: 16px;
				text-align: center;
			}
		}

		.f-success &{
			color: $formColorSuccess;
		}
	}

	&__label{
		position: relative;
	}

	&__input{
		position: relative;
		display: block;

		.form__input-value,
		textarea,
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="text"]{
			box-sizing: border-box;
			width: 100%;
			display: block;
			color: $colorBlack;
			line-height: ($formFieldHeight - 2px);
			height: $formFieldHeight;
			border-bottom: 2px solid $formColorBorder;
			border-radius: $formBorderRadius;
			background-color: transparent;
			transition: border 0.3s ease;
			padding: 0 $formInputPadding;


			&:focus{
				border-color: $formColorFocus;

				& ~ .form__select{
					opacity: 1;
					pointer-events: all;
				}
			}

			.f-error &{
				border-color: $formColorError;
			}


			.f-success &{
				border-color: $formColorSuccess;
			}

			&:hover{
				//border-color: $formColorFocus;
			}
		}


		input[type="submit"]{

		}


		textarea{
			resize: none;
			height: 170px;
			line-height: 1.2;

			padding: (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2) $formInputPadding;

		}

		&-select{
			opacity: 0;
		}

		&-value{
			position: absolute;
		}

		&-clear{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 26px;
				margin-top: -1px;
				margin-left: -13px;

			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}

			&:hover{
				&:before,
				&:after {

				}
			}

			.f-filled &{
				opacity: 1;
				pointer-events: all;
			}
		}

		&-arrow{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 15px;
				margin-top: -1px;

			}
			&:before {
				transform: rotate(45deg);
				margin-left: -13px;

				input:focus ~ &{
					transform: rotate(-45deg);
					background: $formColorText;
				}
			}
			&:after {
				transform: rotate(-45deg);
				margin-left: -4px;

				input:focus ~ &{
					transform: rotate(45deg);
					background: $formColorFocus;
				}
			}

			&:hover{
				&:before,
				&:after {

				}
			}
		}
	}

	&__select{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 1;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
		border-radius: $formBorderRadius;
		border: 1px solid $formColorBorder;
		padding: 0;
		box-sizing: border-box;


		&-item{
			cursor: pointer;
			padding: (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2) $formInputPadding;

			&:hover{
				color: $formColorFocus;
			}

			&.is-active{

			}
		}
	}

	&__footnote{
		color: $formColorFootnote;
	}

	&__placeholder{
		position: absolute;
		color: rgba($colorBlack, 0.3);
		top: 0;
		right: 100%;
		left: 0;
		text-align: right;
		line-height: $formFieldHeight;
		cursor: default;
		pointer-events: none;

		white-space: nowrap;
		box-sizing: border-box;
		transition: all 0.3s ease;
		padding: 0 $formInputPadding;


		.f-error &{
			color: $formColorError;
		}

		.f-success &{
			color: $formColorSuccess;
		}

		input:focus ~ &,
		textarea:focus ~ &,

		.f-focus &,
		.f-filled &{
			top: -30px;
			font-size: 14px;

		}
	}









	&__group{
		margin-bottom: 25px;
		font-size: 0;
	}

	&__title{
		color: $colorGreen;
		font-size: 20px;
		padding-left: 10px;
		box-sizing: border-box;
		margin-bottom: 20px;

		@include breakPoint($breakPoint){
			@include width(1, 1);
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			margin-bottom: 0;
		}

		@include breakPoint($breakPointFHD){
			font-size: 20px;
		}

		&-num{

			@include breakPoint(0, $breakPoint){
				display: inline-block;
			}
		}
		&-name{

			@include breakPoint(0, $breakPoint){
				display: inline-block;
			}
		}
		&-title{

		}
	}

	&__line{

		@include breakPoint($breakPoint){
			display: inline-block;
			width: calc(100% - #{$gutter + $grid} + #{$formGutter});
			position: relative;
		}


		&-hint{
			display: block;
			position: absolute;
			top: 0;
			right: 100%;
			border-radius: 10px;
			padding: 23px 50px 20px 30px;
			box-shadow: 0 2px 5px rgba(0,0,0,.35);
			font-size: 18px;
			width: 370px;
			box-sizing: border-box;
			z-index: 1;
			background: #fff;
			pointer-events: none;
			transition: all 0.5s ease;
			margin-right: 50px;
			opacity: 0;

			&:before{
				content: '';
				width: 2px;
				background: $colorGreen;
				position: absolute;
				top: 23px;
				bottom: 20px;
				right: 30px;
			}


			@include breakPoint(0, $breakPoint){

			}


			@include breakPoint($breakPointFHD){
				font-size: 20px;
			}
		}


		&:hover{
			.form__line-hint{
				margin-right: -$formGutter / 2;
				opacity: 1;
			}
		}
	}

	&__field{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;

		@include breakPoint($breakPoint){;
		}

		&.w-1-2{
			width: 100%;

			@include breakPoint($breakPoint){
				width: 50%;
			}
		}
		&.w-1{
			width: 100%;
			@include breakPoint($breakPoint){
				width: 100%;
			}
		}
		&.w-1-3{
			width: 100%;
			@include breakPoint($breakPoint){
				width: (100% / 3);
			}
		}
		&.w-2-3{
			width: 100%;
			@include breakPoint($breakPoint){
				width: (2 * 100% / 3);
			}
		}

		&.va-m{
			vertical-align: middle;
		}

		input{

			&[type="checkbox"]{
				opacity: 0;
				pointer-events: none;
				position: absolute;

				& ~ .form__field-label{
					position: relative;
					padding-right: 40px;

					&:before{
						content: '';
						width: 26px;
						position: absolute;
						height: 22px;
						top: 4px;
						right: 0;
						background: url("../../img/svg/checkbox.svg") no-repeat 50% 50%;
						background-size: contain;

						@include breakPoint($breakPointFHD){
							top: 7px;
						}
					}

				}

				&:checked{
					& ~ .form__field-label{
						color: $colorBlack;

						&:before{
							background-image: url("../../img/svg/checkbox_check.svg");
						}
					}
				}

				&:disabled{
					& ~ .form__field-label{
						opacity: .3;
					}
					& ~ .form__field-title{
						opacity: .3;
					}
				}
			}

			&[type="radio"]{

				opacity: 0;
				pointer-events: none;
				position: absolute;

				& ~ .form__field-title{
					text-align: center;
				}

				& ~ .form__field-label{
					text-align: center;

					&:before{
						content: '';
						@include bubble('ffffff');
						opacity: 0;
						width: 55px;
						height: 46px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) scale(0.5);
						transition: all 0.3s ease;
					}

				}

				&:checked{
					& ~ .form__field-label{
						color: $colorBlack;

						&:before{
							transform: translate(-50%, -50%) scale(1);
							@include bubble('9AC31C');
							opacity: 1;
						}
					}
				}

				&:disabled{
					& ~ .form__field-label{
						opacity: .3;
					}
					& ~ .form__field-title{
						opacity: .3;
					}
				}
			}

			&[type="email"],
			&[type="password"],
			&[type="tel"],
			&[type="text"]{
				box-sizing: border-box;
				width: 100%;
				display: block;
				color: $colorBlack;
				line-height: ($formFieldHeight - 2px);
				height: $formFieldHeight;
				border-bottom: 2px solid $formColorBorder;
				border-radius: $formBorderRadius;
				background-color: transparent;
				transition: border 0.3s ease;
				padding: 0 $formInputPadding;
				direction: rtl;


				&:focus{
					border-color: $formColorFocus;

					& ~ .form__select{
						opacity: 1;
						pointer-events: all;
					}
				}

				.f-error &{
					border-color: $formColorError;
				}


				.f-success &{
					border-color: $formColorSuccess;
				}

				&:hover{
					//border-color: $formColorFocus;
				}
			}
		}

		&-label{
			font-size: 20px;
			color: $colorGrey;
			position: relative;
			margin: 10px 0 3px;

			span{
				position: relative;
			}

			@include breakPoint($breakPoint){
				font-size: 24px;
				margin: 15px 0 5px;
			}

			@include breakPoint($breakPointFHD){
				font-size: 30px;
			}
		}

		&-input{
			position: relative;

			&:before{
				content: '';
				@include bubble('ffffff');
				width: 55px;
				height: 46px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.5);
				transition: all 0.3s ease;
			}
		}

		&-title{
			font-size: 15px;
			color: $colorGrey;

			@include breakPoint($breakPoint){;
				font-size: 18px;
			}

			@include breakPoint($breakPointFHD){
				font-size: 20px;
			}
		}




		&.f-error{

			input{
				&[type="radio"]{

					& ~ .form__field-label{
						&:before{
							transform: translate(-50%, -50%) scale(1);
							@include bubble('E4ACB6');
						}

					}

				}
			}
		}


		&-setvalue{
			display: flex;
			justify-content: space-between;
			align-items: center;

			span{
				display: inline-block;
				color: $colorGreen;
				cursor: pointer;
			}
		}
	}



	&__range{
		position: relative;
		padding: 50px 10px 50px;


		@include breakPoint($breakPoint){
			padding: 50px 0 30px;

		}

		&-edge{
			position: absolute;
			font-size: 18px;
			color: $colorGrey;
			top: 0;

			@include breakPoint($breakPointFHD){
				font-size: 20px;
			}

			&_min{
				right: 0;
			}

			&_max{
				left: 0;
			}
		}



		&-line{
			//position: absolute;
			//bottom: -58px;
			height: 2px;
			border: none;
			background: #ccc;
			box-shadow: none;

		}

		.noUi-origin{
			//display: none;
		}

		.noUi-handle{
			width: 26px;
			height: 22px;
			box-sizing: border-box;
			top: -11px;
			background: #fff;
			right: -13px!important;
			border: none;
			box-shadow: none;
			background: none;

			&:before{
				display: none;
			}

			&:after{
				display: none;
			}

			@include bubble('9AC31C');



			span{
				white-space: nowrap;
				display: block;
				position: absolute;
				pointer-events: none;
				top: 30px;
				left: 50%;
				transform: translateX(-50%);
				background: #fff;
				padding: 0 10px;
				box-shadow: 0 0 10px #fff;
				line-height: 1;

				font-size: 20px;
				color: $colorGrey;

				@include breakPoint($breakPoint){
					font-size: 28px;
				}

				@include breakPoint($breakPointFHD){
					font-size: 30px;
				}

			}

		}

		.noUi-connects{
			overflow: visible;
		}

		.noUi-connect{
			background: $colorGreen;
			box-shadow: none;
			top: -1px;
			height: 4px;
		}
	}
}