

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 15px;
	width: 100%;
	height: 100%;
	//min-width: 360px;
	line-height: 1.2;

	@include breakPoint($breakPoint){
		font-size: 18px;
	}

	@include breakPoint($breakPointFHD){
		font-size: 20px;
	}


	&.is-loading{
		&:after{
			content: '';
			position: fixed;
			display: block;
			background: url("../../img/svg/loading.svg") no-repeat 50% 50%;
			background-size: 100px 100px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 500;
		}
	}
}

.wrapper{
	direction: rtl;


	&__map{
		display: block;
		//position: absolute;
		position: fixed!important;
		top: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		transition: opacity .5s ease;
		pointer-events: none;
		background-size: cover;

		.fp-viewing-delivery &{
			opacity: 1;
		}
	}

	/*.ltr {
		text-align: right;
		direction: ltr;
	}*/

	//position: static !important;
	transition: background 0.5s ease;
	background: #fff;

	.fp-viewing-welcome &,
	.fp-viewing-social &{
		background: rgba($colorGreen, .3);
	}

	.fp-viewing-menu &,
	.fp-viewing-review &{
		background: rgba($colorBlue, .3);
	}

	.fp-viewing-advantage &,
	.fp-viewing-faq &,
	.fp-viewing-footer &{
		background: rgba($colorYellow, .3);
	}

	.fp-viewing-delivery &{
		background: rgba($colorBlack, .1);
	}
}

.fp-viewing{

	&-welcome,
	&-social{
		color: $colorGreen;
	}

	&-menu,
	&-review{
		color: $colorBlue;
	}

	&-advantage,
	&-faq,
	&-footer{
		color: $colorYellow;
	}

	&-delivery{
		color: $colorRed;
	}

}


.nav{
	position: fixed;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background: #e0ecb9;
	z-index: 2;
	transition: top 0.3s ease;
	color: $colorBlack;
	overflow: auto;

	@include breakPoint($breakPoint){

		display: table;
		table-layout: fixed;
	}


	&__inner{
		padding: 35px 20px 20px;

		@include breakPoint($breakPoint){

			padding: 0;
			display: table-cell;
			vertical-align: middle;
		}
	}

	&__menu{
		margin: 0 auto;
		font-size: 0;

		@include breakPoint($breakPoint){
			width: (($gutter * 7) + ($grid * 8));
		}

		@include breakPoint($breakPointFHD){
			width: (($gutter * 5) + ($grid * 6));
		}

		&-column{
			box-sizing: border-box;

			padding-left: $gutter;

			@include breakPoint($breakPoint){
				width: 50%;
				display: inline-block;
				vertical-align: top;
			}
		}

		&-item{
			font-size: 30px;
			line-height: 0.9;
			margin: 20px 0;

			@include breakPoint($breakPoint){
				font-size: 40px;
				margin: 30px 0;
			}

			@include breakPoint($breakPointFHD){
				font-size: 60px;
			}

			&.active{
				color: $colorGreen;
			}
		}

		&-link{
			white-space: nowrap;

			span{
				display: inline-block;
				vertical-align: baseline;
				white-space: normal;

				&.num{
					width: 50px;
					font-size: 20px;

					@include breakPoint($breakPoint){
						font-size: 24px;
						width: $grid;
					}

					@include breakPoint($breakPointFHD){
						font-size: 30px;
					}
				}
			}

			&:hover{
				color: $colorGreen;
			}
		}
	}


	&__footer{
		margin-top: 100px;

		@include breakPoint($breakPoint){
			margin: 0;
			position: absolute;
			left: $gutter;
			right: $gutter;
			bottom: 4vh;
			text-align: center;
		}

		@include breakPoint($breakPointFHD){
			bottom: 6vh;
		}


		&-btn{
			color: $colorGreen;
			margin-top: 40px;

			@include breakPoint($breakPoint){
				margin: 0;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}

	.is-menu-show &{
		top: 0;

	}

}

.header{
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;

	&__inner{}

	&__handler{
		position: fixed;
		width: 30px;
		height: 30px;
		top: 15px;
		right: $gutter;
		cursor: pointer;

		@include breakPoint($breakPoint){
			top: 28px;
		}


		@include breakPoint($breakPointFHD){
			height: 40px;
			width: 43px;
			top: 40px;
		}

		transition: all 0.5s ease;

		.is-menu-show &{
			transform: rotate(45deg);
		}

		i{
			display: block;
			width: 100%;
			height: 3px;
			background: url("../../img/svg/line.svg") no-repeat 50% 50%;
			background-size: 100% 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include breakPoint($breakPointFHD){
				height: 4px;
			}



			&:before,
			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: url("../../img/svg/line.svg") no-repeat 50% 50%;
				background-size: 100% 100%;
				position: absolute;
				top: 0;
				right: 0;
				transition: all 0.5s ease;
			}

			&:before{
				margin-top: -10px;
				width: 75%;

				@include breakPoint($breakPointFHD){
					margin-top: -15px;
				}

				.is-menu-show &{
					opacity: 0;
				}
			}

			&:after{
				margin-top: 10px;

				@include breakPoint($breakPointFHD){
					margin-top: 15px;
				}

				.is-menu-show &{
					margin-top: 0;
					transform: rotate(90deg);
				}
			}
		}
	}

	&__nav{
		//position: fixed;
		//right: 250px;
		//top: 50px;
		display: none;
		font-size: 18px;
		padding-top: 30px;
		transition: opacity 0.3s ease;

		@include breakPoint($breakPoint){
			display: block;
		}

		@include breakPoint($breakPointFHD){
			font-size: 20px;
			padding-top: 50px;
		}

		.is-menu-show &{
			opacity: 0;
			pointer-events: none;
		}

		&-list{
			.active{

			}
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			margin-right: 40px;

			&:first-child{
				margin-right: 0;
			}
		}

		&-link{
			display: inline-block;
			color: $colorBlack;
			position: relative;

			&:after{
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				width: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 2px;
				background: currentColor;
				transition: width 0.3s ease;
			}

			&:hover{
				&:after{
					width: 100%;
				}
			}

			.active &{
				color: currentColor;

				&:after{
					width: 100%;
				}
			}

			&:first-child{
				margin-right: 0;
			}
		}

	}

	&__logo{
		position: fixed;
		width: 50px;
		height: 36px;
		top: 10px;
		left: $gutter;

		@include breakPoint($breakPoint){
			width: 59px;
			height: 42px;
			top: 20px;
		}

		@include breakPoint($breakPointFHD){
			width: 115px;
			height: 82px;
			top: 30px;
		}

	}
}


.logo{

	&__ico{
		width: 100%;
		height: 100%;
	}

	&__background{
		transition: fill 0.5s ease;
		fill: #fff;

		.fp-viewing-welcome &,
		.fp-viewing-social &{
			fill: $colorGreen;
		}

		.fp-viewing-menu &,
		.fp-viewing-review &{
			fill: $colorBlue;
		}

		.fp-viewing-advantage &,
		.fp-viewing-faq &,
		.fp-viewing-footer &{
			fill: $colorYellow;
		}

		.fp-viewing-delivery &{
			fill: $colorRed;
		}

		.is-menu-show &{
			fill: $colorGreen !important;
		}
	}
}

.dialog{
	position: fixed;
	width: 48px;
	height: 27px;
	left: 10px;
	bottom: 10px;
	z-index: 10;
	cursor: pointer;

	@include breakPoint(0, $breakPoint){


		.fp-viewing-footer &{
			display: none;
		}
	}

	@include breakPoint($breakPoint){
		width: 60px;
		height: 35px;
		bottom: 4vh;
		left: $gutter;

	}

	@include breakPoint($breakPointFHD){
		bottom: 6vh;
		width: 96px;
		height: 55px;
	}

	&__ico{
		width: 100%;
		height: 100%;
	}
	&__question{

	}
	&__answer{
		transition: fill 0.5s ease;
		fill: #fff;

		.fp-viewing-welcome &,
		.fp-viewing-social &{
			fill: $colorGreen;
		}

		.fp-viewing-menu &,
		.fp-viewing-review &{
			fill: $colorBlue;
		}

		.fp-viewing-advantage &,
		.fp-viewing-faq &,
		.fp-viewing-footer &{
			fill: $colorYellow;
		}

		.fp-viewing-delivery &{
			fill: $colorRed;
		}

		.is-menu-show &{
			fill: $colorGreen !important;
		}
	}
	&__dots{}



	&__content{
		position: absolute;
		bottom: 100%;
		left: 10px;
		background: #fff;
		width: calc(100vw - 40px);
		box-sizing: border-box;
		padding: 65px 25px 30px;
		color: $colorBlack;
		transform-origin: 0 100%;
		transform: rotate(15deg);
		transition: all 0.5s ease;
		opacity: 0;
		pointer-events: none;
		margin-bottom: 20px;
		box-shadow: 0 2px 5px rgba(0,0,0,.2);
		max-width: 320px;


		@include breakPoint($breakPoint){
			width: 440px;
			left: 100%;
			margin-bottom: 0;
			padding: 30px 60px;
			max-width: 100vw;
		}


		@include breakPoint($breakPointFHD){
			width: 400px;
			padding: 30px 60px;
		}


		.dialog_open &{
			opacity: 1;
			pointer-events: all;
			transform: rotate(0);
		}

		&-close{
			width: 30px;
			height: 30px;
			position: absolute;
			cursor: pointer;
			right: 10px;
			z-index: 10;
			top: 10px;



			&:before,
			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				margin-right: -15px;
				background: url("../../img/svg/line.svg") no-repeat 50% 50%;
				background-size: 100% 100%;
				position: absolute;
				top: 50%;
				right: 50%;
				transition: all 0.5s ease;
			}

			&:before{
				transform: rotate(-45deg);
			}

			&:after{

				transform: rotate(45deg);
			}
		}

		&-text{
			margin-bottom: 15px;
			font-size: 15px;

			@include breakPoint($breakPoint){
				margin-bottom: 20px;
				font-size: 20px;
			}
		}

		&-btn{
			color: $colorGreen;
			margin-bottom: 20px;

			@include breakPoint($breakPoint){
				margin-bottom: 20px;
			}
		}
	}
}


.plate{
	position: fixed;
	height: 100%;
	width: 100%;
	pointer-events: none;

	fill: #fff;
	//z-index: 1;

	@include breakPoint(0, $breakPoint){
		left: 100vw;
		top: 120vh;
		transform: rotate(-90deg) scale(1, -1);
		transform-origin: 0 0;
		width: 120vh;
		height: 100vw;
	}

	@include breakPoint($breakPoint){
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
	}
}

.hashtag{
	position: fixed;
	z-index: 1;
	color: $colorBlack;
	font-size: 15px;

	@include breakPoint(0, $breakPoint){
		bottom: 17px;
		left: 90px;

		.fp-viewing-footer &{
			display: none;
		}
	}

	@include breakPoint($breakPoint){
		margin-left: 10px;
		top: 40vh;
		font-size: 20px;
		left: $gutter;
		transform: translate(-50%, -50%) rotate(-90deg);
	}

	@include breakPoint($breakPointFHD){
		font-size: 30px;
	}

}

.inner{
	width: calc(100% - 40px);
	margin: 0 auto;
	box-sizing: border-box;

	@include breakPoint($breakPoint){
		position: relative;
		width: (($gutter * 7) + ($grid * 8));
	}

	.section &{
		padding-top: 65px;

		@include breakPoint($breakPoint){
			height: 100vh;
			padding-top: $innerTopOffset;
		}

		@include breakPoint($breakPointFHD){
			padding-top: $innerTopOffsetFHD;
		}
	}

	.footer &{

		@include breakPoint($breakPoint){
			padding-top: 140px;
		}

		@include breakPoint($breakPoint, $breakPointFHD){
			width: (($gutter * 9) + ($grid * 8));
		}

		@include breakPoint($breakPointFHD){
			padding-top: 110px;
		}

	}
}

.btn{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	height: 30px;
	line-height: 26px;
	text-align: center;
	border-radius: 100px;
	font-size: 15px;

	@include breakPoint($breakPoint){
		font-size: 24px;
		height: 40px;
		line-height: 36px;

	}

	@include breakPoint($breakPointFHD){
		height: 50px;
		line-height: 46px;
		font-size: 30px;
	}

	span{
		color: currentColor;
	}

	&:hover{
		opacity: 0.9;
	}

	&_link{


		@include breakPoint(0, $breakPoint){
			font-size: 20px;
			padding-left: 20px;
		}

		@include breakPoint($breakPoint){
			padding-left: 40px;
		}

		@include breakPoint($breakPointFHD){
			padding-left: 50px;
		}

	}

	&_border{
		background-color: #fff;
		border: 2px solid currentColor;
		padding: 0 10px;

		min-width: 130px;

		@include breakPoint($breakPoint){
			min-width: 196px;

		}

		@include breakPoint($breakPointFHD){
			min-width: 250px;
		}

		&:hover{
			background: currentColor;
		}

		span{
			color: $colorBlack;
		}
	}

	&_solid{
		background-color: currentColor;
		border: 2px solid currentColor;
		padding: 0 10px;

		min-width: 130px;

		@include breakPoint($breakPoint){
			min-width: 196px;

		}
		@include breakPoint($breakPointFHD){
			min-width: 250px;
		}

		span{
			color: #fff;
		}
	}
}



.social-links{
	font-size: 0;

	&__item{
		width: 36px;
		height: 30px;
		display: inline-block;
		margin-left: 14px;

		@include breakPoint($breakPoint){
			width: 50px;
			height: 42px;
			margin-left: 19px;
		}

		&:last-child{
			margin-left: 0;
		}

		img{
			width: 100%;
			height: 100%;
		}

		@include bubble('9AC31C');

		.footer__social &{
			@include bubble('FCBF00');
		}
	}
}


.pay-list{


	&__item{
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		position: relative;
		margin-bottom: 10px;
		margin-left: 12px;


		@include breakPoint($breakPoint){
			margin-left: 19px;
			height: 30px;
		}


		&:last-child{
			margin-left: 0;
		}


		img{
			height: 100%;
			display: block;
			transition: opacity 0.3s ease;

			&.hv{
				position: absolute;
				top: 0;
				left: 0;;
				opacity: 0;
			}

		}

		&:hover{
			.hv{
				opacity: 1;
			}
		}
	}
}

.website {

}


.navigation{
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	right: $gutter;
	color: $colorBlack;
	padding-top: 65px;

	@include breakPoint($breakPoint){
		padding-top: $innerTopOffset;
	}


	@include breakPoint($breakPointFHD){
		padding-top: $innerTopOffsetFHD;
	}

	&__index{
		line-height: 0.9;
		transition: all 0.3s ease;
		font-size: 30px;

		@include breakPoint($breakPoint){
			font-size: 40px;
		}

		@include breakPoint($breakPointFHD){
			font-size: 60px;
		}

		.fp-viewing-footer &{
			opacity: 0;
			pointer-events: none;
		}
	}

	&__arrow{

		width: 50px;
		height: 42px;
		display: none;
		position: absolute;
		right: -10px;
		cursor: pointer;
		transition: all 0.3s ease;
		@include bubble('ffffff');

		@include breakPoint($breakPoint){
			display: block;
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 10px;
			height: 10px;
			top: 50%;
			left: 50%;
			margin-top: -5px;
			margin-left: -5px;
			background: url("../../img/svg/arrow.svg") no-repeat 50% 50%;
			background-size: cover;
		}

		&_up{
			top: 44.3%;

			.fp-viewing-welcome &{
				opacity: 0;
				pointer-events: none;
			}

			.fp-viewing-footer &{
				top: 14.3%;
				@include bubble('FCBF00');

				&:after{
					background-image: url("../../img/svg/arrow_w.svg");
				}
			}
		}

		&_down{
			top: 72.3%;

			.fp-viewing-footer &{
				opacity: 0;
				pointer-events: none;
			}

			&:after{
				transform: rotate(180deg);
			}
		}

		&:hover{
			@include bubble('E3E3E3');
		}
	}

	&__section{
		position: absolute;
		font-size: 15px;
		left: 100%;
		top: 135px;
		transform: translate(-50%, 0) rotate(-90deg);
		margin-left: -16px;
		white-space: nowrap;
		transition: all 0.3s ease;


		@include breakPoint(0, $breakPoint){
			color: $colorGrey;
		}


		@include breakPoint($breakPoint){
			font-size: 20px;
			top: 60.3%;
			transform: translate(-50%, -50%) rotate(-90deg);
		}

		.fp-viewing-footer &{
			opacity: 0;
			pointer-events: none;
		}
	}

	&__next{
		font-size: 15px;
		color: rgba($colorBlack, 0.3);
		position: absolute;
		bottom: 16px;

		@include breakPoint($breakPoint){
			font-size: 30px;
			bottom: 6vh;
		}

		.fp-viewing-footer &{
			opacity: 0;
			pointer-events: none;
		}
	}
}

.only{
	&-mobile{
		@include breakPoint($breakPoint){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint(0, $breakPoint){
			display: none!important;
		}
		@include breakPoint($breakPointFHD){
			display: none!important;
		}
	}
	&-fullhd{
		@include breakPoint(0, $breakPointFHD){
			display: none!important;
		}
	}
}

.not{
	&-mobile{
		@include breakPoint(0, $breakPoint){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint($breakPoint, $breakPointFHD){
			display: none!important;
		}
	}
	&-fullhd{
		@include breakPoint($breakPointFHD){
			display: none!important;
		}
	}
}

.is-hidden{
	display: none !important;
}

.slick{
	&-slide{

	}

	&-list{

	}

	&-arrow{

		&_prev{
			left: 0;
		}

		&_next{
			right: 0;
		}

	}


	&-dots{


		li{

		}

		button{

		}


		.slick-active{
			button{

			}
		}
	}
}


[data-tab-target]:not(.is-active){
	display: none;
}
[data-menu-target]:not(.is-active){
	display: none;
}

[data-tab-link]{
	cursor: pointer;
}


nobr{
	white-space: nowrap;
}




.en{
	font: inherit;
	font-family: $fontEn;
	font-size: 0.85em;
}