

.section{

	@include breakPoint(0, $breakPoint){
		height: auto !important;
		min-height: 100vh;
	}


	&_welcome{
		//background: rgba($colorGreen, .3);
		color: $colorGreen;
	}
	&_menu{
		//background: rgba($colorBlue, .3);
		color: $colorBlue;
	}
	&_advantage{
		//background: rgba($colorYellow, .3);
		color: $colorYellow;
	}
	&_delivery{
		//background: rgba($colorBlack, .1);
		color: $colorRed;
	}
	&_social{
		//background: rgba($colorGreen, .3);
		color: $colorGreen;
	}
	&_review{
		//background: rgba($colorBlue, .3);
		color: $colorBlue;
	}
	&_faq{
		//background: rgba($colorYellow, .3);
		color: $colorYellow;


	}
	&_footer{

		@include breakPoint($breakPoint){
			background: #fff;
		}
	}



	&__content{
		width: 100%;
		padding-right: 50px;
		box-sizing: border-box;
		position: relative;
		z-index: 1;

		@include breakPoint($breakPoint){
			padding-right: 0;
			width: ($grid* 3) + ($gutter * 3);
		}
	}

	&__title{
		color: $colorBlack;
		line-height: 0.9;
		margin-bottom: 30px;
		font-size: 30px;

		@include breakPoint($breakPoint){
			color: $colorBlack;
			margin-bottom: 30px;
			font-size: 40px;
		}

		@include breakPoint($breakPointFHD){
			font-size: 60px;
			margin-bottom: 70px;
		}
	}

	&__text{
		color: $colorBlack;
		line-height: 1.5;


		ol{

			counter-reset: ol;

			li{
				position: relative;
				margin: 20px 0;
				padding-right: 20px;
				line-height: 1.1;

				@include breakPoint($breakPoint){
					padding-right: 40px;
				}


				@include breakPoint($breakPointFHD){
					padding-right: 50px;
					margin: 15px 0;
					min-height: 40px;
				}

				&:before{
					counter-increment: ol;
					content: counter(ol);
					position: absolute;
					font-size: 20px;
					right: 0;
					top: -3px;

					@include breakPoint($breakPoint){
						font-size: 24px;
						top: -5px;
					}

					@include breakPoint($breakPointFHD){
						font-size: 30px;
						top: -8px;
					}
				}
			}
		}
	}


	&__btn{
		font-size: 0;
		margin-top: 20px;
		margin-bottom: -10px;

		@include breakPoint($breakPoint){
			margin-top: 80px;
			margin-bottom: -20px;
		}


		@include breakPoint($breakPointFHD){
			margin-top: 100px;
		}

		.btn{
			margin-left: 10px;
			margin-bottom: 10px;

			@include breakPoint($breakPoint){
				margin-left: 30px;
				margin-bottom: 20px;
			}

			&:last-child{
				margin-left: 0;
			}
		}
	}



	&__aside{
		margin-top: 30px;

		@include breakPoint($breakPoint){
			position: absolute;
			left: 0;
			margin: 0;
			top: 0;

			width: (($gutter * 3) + ($grid * 4));
		}

		.fp-section &{

			@include breakPoint($breakPoint){
				transition: all 0.5s ease 0.2s;
				opacity: 0;
				margin-left: -50%;
			}
		}

		.fp-section.active &{

			@include breakPoint($breakPoint){
				opacity: 1;
				margin-left: 0;
			}
		}


		&-inner{

			@include breakPoint($breakPoint){
				padding: 75px 0 4vh;
			}

			@include breakPoint($breakPointFHD){
				padding: 100px 0 6vh;
			}
		}

		&-image{
			display: inline-block;
			width: 100%;
		}

		&_image{
			font-size: 0;
			text-align: center;

			@include breakPoint($breakPoint){
				height: 100vh;
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img{
				width: 100%;
				display: inline-block;
				vertical-align: middle;

				@include breakPoint(0, $breakPoint){
					width: auto;
					max-width: 100%;
					max-height: 50vh;
				}
			}
		}

		&_scroll{

			@include breakPoint($breakPoint){
				height: 100vh;
				overflow: auto;
			}
		}
	}



	&__tablink{

		&-item{
			font-size: 20px;
			color: $colorGrey;
			margin: 12px 0;

			@include breakPoint($breakPoint){
				font-size: 24px;
				margin: 20px 0;
			}


			@include breakPoint($breakPointFHD){
				font-size: 30px;
				margin: 25px 0;
			}
		}

		&-link{
			display: inline-block;
			position: relative;

			span{
				position: relative;
			}

			&:before{
				content: '';
				@include bubble('FCBF00');
				opacity: 0;
				width: 42px;
				height: 36px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.5);
				transition: all 0.3s ease;

				@include breakPoint($breakPoint){
					width: 55px;
					height: 46px;
				}
			}

			&.is-active{
				color: $colorBlack;

				&:before{
					transform: translate(-50%, -50%) scale(1);
					opacity: 1;
				}
			}
		}

	}
}




.welcome{
	/*.section__btn{
		margin-top: 100px;

		@include breakPoint($breakPointFHD){
			margin-top: 225px;
		}
	}*/

	.section__aside{

		@include breakPoint(0, $breakPoint){
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 20px;
		}

	}


	&__list{
		padding: 0 1px;

		@include breakPoint(0, $breakPoint){
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			margin: 0 -20px;
			padding: 0 20px;
		}

		@include breakPoint($breakPointFHD){
			padding-top: 280px;

			@include clearfix();
		}
	}

}

.menu{

	.section__content{

		@include breakPoint($breakPoint){
			width: ($grid* 4) + ($gutter * 3);
		}
	}

	.section__aside{

		@include breakPoint(0, $breakPoint){
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 20px;
		}

	}

	.section__aside-image{

		background: url("../../img/svg/loading.svg") no-repeat 50% 50%;
		background-size: 50px 50px;
		min-height: 100px;

		@include breakPoint(0, $breakPoint){
			display: none;

			&.is-active{
				display: block;
			}
		}

		@include breakPoint($breakPoint){
			opacity: 0;
			display: inline-block;
			position: absolute;
			top: 50%;
			transition: all 0.5s ease;
			transform: translate(-50%, -50%);
			left: 0;

			&.is-active{
				top: 50%;
				transform: translate(0, -50%);
				opacity: 1;
			}
		}
	}


	.section__text{
		margin: 20px 0;
	}

	.section__tablink{
		margin-bottom: 18px;

		@include breakPoint($breakPoint){
			margin-bottom: 20px;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;
			font-size: 15px;

			@include breakPoint($breakPoint){
				margin-left: 40px;
				font-size: 20px;
			}
		}

		&-link{
			display: inline-block;
			position: relative;


			&.is-active{
				&:before{
					@include bubble('5DC4E3');
				}
			}
		}

		.form__line{
			margin: 0 -10px;

			@include breakPoint($breakPoint){
				margin: 0 -20px;
			}

			.btn{

				margin-right: 10px;

				@include breakPoint($breakPointFHD){
					margin-right: 20px;
				}
			}

			.form__field{
				margin-bottom: 20px;
				padding: 0 10px;

				@include breakPoint($breakPoint){
					padding: 0 20px;
				}

				&-label{
					font-size: 15px;
					margin-top: 5px;

					@include breakPoint($breakPoint){
						font-size: 20px;
						margin-top: 7px;
					}

					@include breakPoint($breakPointFHD){
						margin-top: 13px;
					}

					&:before{
						width: 42px!important;
						height: 36px!important;;

						@include breakPoint($breakPoint){
							width: 55px!important;;
							height: 46px!important;;
						}
					}
				}
			}
		}
	}

	.form__line{

		width: auto;

		@include breakPoint(0, $breakPoint){

			&.is-active {

				font-size: 15px;
				display: flex;
				flex-wrap: nowrap;
				overflow-x: auto;
				padding: 3px 50px 0px 0px;
				margin-right: -70px;
			}
		}

		@include breakPoint($breakPoint){
			font-size: 20px;
			margin: 5px -18px ;
		}


		.form__field{


			@include breakPoint($breakPoint){
				margin-bottom: 0;
			}

			&-hint{
				@include breakPoint(0, $breakPoint){
					display: none;
				}
			}

			&-label{
				white-space: nowrap;
			}
		}

		input{


			&:checked{
				& ~ .form__field-label{
					&:before{
						@include bubble('5DC4E3');
					}
				}
			}
		}
	}

	.section__btn{


		white-space: nowrap;

		@include breakPoint($breakPoint){
			margin-top: 30px;
		}

		.prise{
			font-size: 30px;
			vertical-align: middle;
			color: $colorBlack;
			margin-bottom: 10px;
			margin-left: 30px;

			&.is-active {
				display: inline-block;
			}

			@include breakPoint($breakPoint){
				font-size: 60px;
				margin-bottom: 20px;
			}
		}
	}
}


.advantage{

	.section__aside{

		@include breakPoint(0, $breakPoint){
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 20px;
		}

	}

	.section__aside-image{

		@include breakPoint(0, $breakPoint){
			display: none;

			&.is-active{
				display: block;
			}
		}

		@include breakPoint($breakPoint){
			display: inline-block;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: all 0.5s ease;
			left: 0;


			&.is-active{
				top: 50%;
				transform: translate(0, -50%);
				opacity: 1;
			}
		}


	}


	.section__tablink{
		position: relative;

		&-link{

			&.is-active{
				& ~ .section__tablink-comment{
					display: block;
				}
			}
		}

		&-comment{
			//width: (2 * $grid) + (2 * $gutter) - 1vw;
			font-size: 18px;
			color: $colorBlack;
			display: none;
			margin: 10px 0 30px;


			@include breakPoint($breakPointFHD){
				font-size: 20px;
				position: absolute;
				top: 0;
				right: $grid + $gutter;
			}

		}


	}

}

.delivery{
	ol{
		li{
			&:before{
				color: $colorRed;
			}
		}
	}

	.section__links{
		margin-top: 40px;
	}

}

.social{

	.section__text{

		a{
			color: $colorGreen;
		}
	}

	.section__btn{

		@include breakPoint(0, $breakPoint){
			margin: 0;

			.btn{
				margin: 0;
			}
		}
	}
	.section__foot{

		@include breakPoint(0, $breakPoint){
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}



	&__group{
		display: inline-block;
		width: 196px;


		@include breakPoint(0, $breakPoint){
			flex: 0 0 auto;
		}

		@include breakPoint($breakPoint){
			display: inline;
			width: auto;

			&:nth-of-type(2n - 1){

				.social__item{

					&:nth-of-type(1){
						width: 50%;
					}

					&:nth-of-type(2){
						width: 50%;
					}

					&:nth-of-type(3){
						width: 100%;
					}
				}
			}

			&:nth-of-type(2n){

				.social__item{
					width: (100% / 3);
				}
			}
		}

		@include breakPoint($breakPointFHD){
			&:nth-of-type(2n - 1){

				.social__item{

					&:nth-of-type(1){
						width: 50%;
					}

					&:nth-of-type(2){
						width: 50%;
					}

					&:nth-of-type(3){
						width: 75%;
					}
				}
			}

			&:nth-of-type(2n){

				.social__item{
					width: 25%;
				}
			}
		}
	}

	&__list{
		font-size: 0;

		@include breakPoint(0, $breakPoint){
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			margin: 0 -20px;
			padding: 0 20px;
		}

		@include breakPoint($breakPoint){
			margin: 0 -10px;
		}

		@include breakPoint($breakPointFHD){
			margin: 0 -20px;
		}
	}

	&__item{

		display: inline-block;
		width: 100%;
		padding: 11px;
		box-sizing: border-box;

		@include breakPoint(0, $breakPoint){

			&:nth-of-type(1){

			}

			&:nth-of-type(2){
				width: 50%;
			}

			&:nth-of-type(3){
				width: 50%;
			}

		}

		@include breakPoint($breakPoint){
			padding: 10px;
			float: left;
		}

		@include breakPoint($breakPointFHD){
			padding: 20px;
		}

		&-inner{

		}

		&-image{
			height: 0;
			padding-bottom: 100%;
			background: rgba($colorBlue, 0.3) no-repeat 50% 50%;
			background-size: cover;
		}

	}
}

.review{

	.section__text{

		a{
			color: $colorBlue;
		}
	}

	.section__aside-inner{

	}


	&__ribbon{

		width: 230px;
		margin: 0 auto;

		@include breakPoint($breakPoint){
			width: 752px;
			overflow: hidden;
			padding: 300px 0 30px;
		}
	}

	&__list{
		padding: 0 1px;

		@include breakPoint(0, $breakPoint){
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			margin: 0 -20px;
			padding: 0 20px;
		}

		@include breakPoint($breakPointFHD){
			padding-top: 280px;

			@include clearfix();
		}
	}

	&__item{
		color: $colorBlack;
		background: #fff;
		font-size: 20px;
		border: 1px solid $colorBlue;
		box-sizing: border-box;
		direction: rtl;


		@include breakPoint(0, $breakPoint){
			width: 174px;
			flex: 0 0 auto;
			margin-left: 20px;
		}
		@include breakPoint($breakPoint){
			margin-bottom: 20px;
		}

		@include breakPoint($breakPointFHD){
			width: calc(50% - 20px);
			float: left;
			margin-bottom: 40px;

			&:nth-of-type(2n - 1){
				margin-right: 40px;
				position: relative;
				top: -280px;
			}
		}


		&:last-child{
			margin-bottom: 0;
		}


		.review__ribbon &{
			width: 223px;
			margin-left: 0;
			margin-bottom: 10px;

			@include breakPoint($breakPoint){
				width: 356px;
				margin-bottom: 20px;
				float: left;

				&:nth-of-type(2n - 1){
					margin-right: 40px;
					position: relative;
					top: -280px;
				}
			}
		}


		&-head{
			height: 23px;
			position: relative;
			text-align: left;
			padding: 4px 40px 0 10px;
			box-sizing: border-box;

			@include breakPoint($breakPoint){
				height: 40px;
				padding: 7px 75px 0 20px;
			}

		}

		&-title{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include breakPoint(0, $breakPoint){
				font-size: 11px;
			}
		}

		&-ico{
			width: 21px;
			height: 17px;
			@include bubble('5DC4E3');
			position: absolute;
			right: 10px;
			top: 3px;

			@include breakPoint($breakPoint){
				width: 35px;
				height: 29px;
				right: 20px;
				top: 5px;
			}

			img{
				width: 100%;
				height: 100%;
			}

		}

		&-image{
			height: 0;
			padding-bottom: 100%;
			background: rgba($colorBlue, 0.3) no-repeat 50% 50%;
			background-size: cover;
		}

		&-info{
			padding: 7px 10px;

			@include breakPoint($breakPoint){
				padding: 13px 20px;
			}
		}
		&-text{

			font-size: 13px;
			height: 47px;
			overflow: hidden;
			margin-bottom: 0;

			@include breakPoint($breakPoint){
				height: 64px;
				font-size: 14px;
				margin-bottom: 5px;
			}
		}
		&-more{

			@include breakPoint(0, $breakPoint){
				font-size: 15px;
			}
			a{
				color: $colorBlue;
			}
		}
	}

}

.faq{

	&__title{
		font-size: 20px;
		margin-bottom: 15px;
		margin-top: 30px;


		@include breakPoint($breakPoint){
			font-size: 30px;
			margin-bottom: 20px;
		}
	}

	&__ribbon{
		width: 230px;
		margin: 0 auto;

		@include breakPoint($breakPoint){
			width: 500px;
		}
	}

	&__list{
		padding: 0 1px;

		@include breakPoint(0, $breakPoint){
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			margin: 0 -20px;
			padding: 0 20px 20px;
		}
	}

	&__item{
		color: $colorBlack;
		background: #fff;
		padding: 23px 20px;
		box-sizing: border-box;
		box-shadow: 0 1px 1px rgba(0,0,0,.2);
		direction: rtl;

		@include breakPoint(0, $breakPoint){
			padding: 10px;
			width: 174px;
			flex: 0 0 auto;
			margin-left: 20px;
			min-height: 270px;
		}

		.faq__ribbon &{
			width: auto;
			margin-bottom: 10px;
			margin-left: 0;
			min-height: 0;
		}


		@include breakPoint($breakPoint){
			margin-bottom: 20px;
		}

		@include breakPoint($breakPointFHD){
			margin-bottom: 40px;
		}

		&:last-child{
			margin-bottom: 0;
		}

		&-title{
			font-size: 15px;
			line-height: 1.05;
			margin-bottom: 10px;

			@include breakPoint($breakPoint){
				font-size: 24px;
			}

		}

		&-text{
			font-size: 13px;
			color: $colorGrey;
			line-height: 1.1;

			@include breakPoint($breakPoint){
				font-size: 18px;
			}
		}
	}
}

.footer{

	@include breakPoint(0, $breakPoint){
		padding-bottom: 20px;
	}

	@include breakPoint($breakPoint){
		height: 600px;
	}

	@include breakPoint($breakPointFHD){
		height: 670px;
	}

	&__content{
		background: #fff;
		padding: 20px;

		@include breakPoint($breakPoint){
			padding: 0;
			font-size: 0;
			margin-left: -$grid;
		}
	}

	&__column{

		@include breakPoint($breakPoint){
			display: inline-block;
			vertical-align: top;
			width: (100% / 3);
			font-size: 20px;
			box-sizing: border-box;
			padding-left: $grid;
		}

		&_copy{
			margin-top: 30px;

			@include breakPoint($breakPoint){
				margin-top: 0;
				float: right;
			}
		}
	}

	&__title{
		font-size: 30px;
		margin-bottom: 20px;
		color: $colorBlack;
		line-height: 0.9;

		@include breakPoint($breakPoint){
			font-size: 40px;
		}

		@include breakPoint($breakPointFHD){
			font-size: 60px;
			margin-bottom: 30px;
		}
	}

	&__subtitle{
		font-size: 20px;
		margin-bottom: 10px;
		color: $colorBlack;


		@include breakPoint($breakPoint){
			font-size: 24px;
			margin-bottom: 30px;
		}

		@include breakPoint($breakPointFHD){
			font-size: 30px;
		}
	}

	&__text{
		color: $colorBlack;
		font-size: 13px;
		margin-bottom: 20px;

		@include breakPoint($breakPoint){
			font-size: 18px;
		}

		@include breakPoint($breakPointFHD){
			font-size: 20px;
		}

		.link{

			cursor: pointer;
			text-decoration: underline;
			display: inline-block;
			color: $colorYellow;
			margin-left: 20px;
		}
	}

	&__social{
		margin: 15px 0 20px;

		@include breakPoint($breakPoint){
			margin: 30px 0;
		}

		@include breakPoint($breakPointFHD){
			margin: 40px 0;
		}
	}

	&__logo{
		display: none;

		@include breakPoint($breakPoint){
			display: block;
			width: 196px;
			height: 140px;
			margin-bottom: 30px;
		}

		@include breakPoint($breakPointFHD){
			width: 255px;
			height: 183px;
		}

		.logo__background{
			fill: $colorYellow;
		}
	}

	&__copyright{
		margin-top: 20px;

		@include breakPoint($breakPoint){
			//margin-top: 70px;
		}
	}


	&__form{
		margin-top: 20px;

		@include breakPoint($breakPointFHD){

		}

		.form{

			margin: 0 (-$formGutter / 2);

			&__field{
				width: 100%;
				margin-bottom: 20px;

				@include breakPoint($breakPoint){
					margin-bottom: 40px;
				}
			}

			&__input{
				input{
					&:focus{
						border-color: $colorYellow;
					}
				}
			}
		}
	}
}