


@mixin clearfix(){
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin toRem($property, $values...) {
	$fontSize: 16;
	$max: length($values);
	$pxValues: '';
	$remValues: '';

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$pxValues: #{$pxValues + $value/$fontSize}rem;

		@if $i < $max {
			$pxValues: #{$pxValues + ' '};
		}
	}

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$remValues: #{$remValues + $value}px;

		@if $i < $max {
			$remValues: #{$remValues + ' '};
		}
	}

	#{$property}: $remValues;
	#{$property}: $pxValues;
}



@mixin breakPoint ($min, $max: null){
	@if ($max) {
		@media (min-width: #{$min}) and (max-width: #{$max - 1px}){
			@content;
		}
	}
	@else {
		@media (min-width: #{$min}) {
			@content;
		}
	}
}




@mixin closeBtn($width: 30px, $height: 4px){
	position: absolute;
	width: $width;
	height: $width;
	cursor: pointer;
	top: 22px;
	right: 22px;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $height;
		margin-top: -($height/2);
		margin-left: -($width/2);
		position: absolute;
		top: 50%;
		left: 50%;
		background: currentColor;
		//border-radius: #{$height};
	}

	&:before{
		transform: rotate(45deg);
	}

	&:after{
		transform: rotate(135deg);
	}

}




@mixin burgerButton ($openClass: '.is-open', $handlerWidth: 30px, $handlerHeight: 4px, $handlerRadius: 5px){
	cursor: pointer;

	i{
		display: block;
		width: $handlerWidth;
		height: $handlerHeight;
		background: currentColor;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -($handlerHeight/2);
		margin-left: -($handlerWidth/2);
		transition: all 0.3s ease;
		border-radius: $handlerRadius;

		#{$openClass} &{
			width: $handlerHeight;
			margin-left: -($handlerHeight/2);
		}

		&:before,
		&:after{
			content: '';
			display: block;
			width: $handlerWidth;
			height: $handlerHeight;
			background: currentColor;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -($handlerHeight/2);
			margin-left: -($handlerWidth/2);
			transition: all 0.3s ease;
			border-radius: $handlerRadius;
		}

		&:before{
			top:-(($handlerWidth/3) - ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(45deg);
			}
		}

		&:after{
			top: (($handlerWidth/3) + ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(135deg);;
			}
		}
	}
}


@mixin bubble($color: 'ffffff'){
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55 46' preserveAspectRatio='none'%3E%3Cpath fill='%23#{$color}' d='M26.8,0c18.3,0,29.7,8,28.1,24.8c-1.7,16.8-17.2,24.5-33,19.9s-23.7-12.4-21.4-25S11.2,0,26.8,0z'/%3E%3C/svg%3E%0A");
	background-size: 100% 100%;
}

@mixin width($gr: 0, $gt: 0){
	width: ($grid * $gr) + ($gutter * $gt);
}




/// Grid site
/// @param {Number} $columnCount [12] - column lines count
/// @param {Size} $gutterWidth [1%] - gutter width
/// @param {Size} $offset [0] - side offset
/// @param {Color} $color [rgba(45, 132, 190, 0.2)] - lines color

///	body: {
///		&:before{
///			content: '';
///			@include grid();
///		}
///	}

@mixin grid($columns: 12, $gutter: 1%, $offset: 0, $color: rgba(45, 132, 190, 0.2)){
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: calc(100% - (2 * #{$offset}));
	height: 100vh;
	content: '';
	background-image: repeating-linear-gradient(
			to right,
			$color,
			$color calc((100% / #{$columns}) - #{$gutter}),
			transparent calc((100% / #{$columns}) - #{$gutter}),
			transparent calc(100% / #{$columns})
	);
	background-size: calc(100% + #{$gutter}) 100%;
	z-index: 1000;
	pointer-events: none;
}