$popupZIndex: 100;
$popupOverlayColor: rgba(#fff, 1) !default;

.popup-is-open{
	overflow: hidden !important;
}

.popup {
	pointer-events: none;
	direction: rtl;
	color: $colorBlack;

	&.is-open {
		pointer-events: all;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.5s ease;

		.is-open &{
			opacity: 1;
		}

	}

	&__map{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $colorGrey;
	}

	&__inner {
		height: 100%;
		left: 0;
		position: fixed;
		text-align: center;
		background: #fff;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		font-size: 0;
		margin-left: -100%;
		transition: margin-left 0.5s ease;

		.is-open &{
			margin-left: 0;
		}

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		//background-color: white;
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		width: 100%;
		text-align: right;
		font-size: 18px;
		height: 100%;
		overflow: hidden;
		overflow-y: auto;


		@include breakPoint($breakPointFHD){
			font-size: 20px;
		}
	}

	&__close {
		width: 30px;
		height: 30px;
		position: absolute;
		cursor: pointer;
		right: $gutter;
		z-index: 10;
		top: 9px;

		@include breakPoint($breakPoint){
			top: 4vh;
		}

		@include breakPoint($breakPointFHD){
			width: 40px;
			height: 40px;
			top: 6vh;
		}


		&:before,
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			margin-right: -15px;
			background: url("../../img/svg/line.svg") no-repeat 50% 50%;
			background-size: 100% 100%;
			position: absolute;
			top: 50%;
			right: 50%;
			transition: all 0.5s ease;

			@include breakPoint($breakPointFHD){
				height: 4px;
				margin-right: -20px;
			}
		}

		&:before{
			transform: rotate(-45deg);
		}

		&:after{

			transform: rotate(45deg);
		}
		&:hover {

		}
	}

	&__title{
		margin-bottom: 40px;
		text-align: center;
		font-size: 40px;

		@include breakPoint($breakPointFHD){
			font-size: 60px;
			margin-bottom: 70px;
		}
	}

	&__text{

	}

	&__btn{
		margin-top: 50px;
	}



	&__content{
		background: #fff;
		padding: 20px;

		@include breakPoint($breakPoint){
			height: 100vh;
			padding: 0;
		}

		&-inner{
			padding-top: 12vh;
			padding-bottom: 12vh;
		}
	}



	&_delivery{

		.popup{
			&__content{
				@include width(8, 7);
				margin: 0 auto;

				@include breakPoint($breakPointFHD){
					@include width(6, 5);
				}

				p{
					margin: 10px 0;
				}

				ul{

					li{
						padding-right: 30px;
						margin: 10px 0;
						position: relative;

						&:before{
							content: '';
							display: block;
							width: 6px;
							height: 6px;
							border-radius: 50%;
							background: $colorRed;
							position: absolute;
							top: 7px;
							right: 0;
						}
					}
				}
			}
			&__title{
				text-align: right;
			}


			&__subtitle{
				font-size: 24px;
				color: $colorRed;
				margin-top: 28px;
				margin-bottom: 15px;

				@include breakPoint($breakPointFHD){
					font-size: 30px;
				}
			}


			&__dialog{

				.dialog{
					position: absolute;

					&__answer{
						fill: $colorRed;
					}
				}


			}

			&__btn{
				bottom: 4vh;
				position: absolute;
				right: $gutter;
				color: $colorRed;

				@include breakPoint($breakPointFHD){
					bottom: 6vh;
				}
			}
		}
	}


	&_text{

		.popup{
			&__content{
				@include width(8, 7);
				margin: 0 auto;

				@include breakPoint($breakPointFHD){
					@include width(6, 5);
				}

				p{
					margin: 10px 0;
				}

				a{
					text-decoration: underline;
					text-decoration-color: $colorGreen;

					&:hover{
						text-decoration: none;
					}
				}

				ul{

					li{
						padding-right: 30px;
						margin: 10px 0;
						position: relative;

						&:before{
							content: '';
							display: block;
							width: 6px;
							height: 6px;
							border-radius: 50%;
							background: $colorGreen;
							position: absolute;
							top: 7px;
							right: 0;
						}
					}
				}

				.form{
					max-width: 845px;
					margin: 50px 0;

					@include breakPoint($breakPoint){
						margin: 80px 0;
					}

					&__title{
						color: $colorBlack;
					}


					&__submit{
						display: flex;
						align-items: center;

						@include breakPoint($breakPoint){
							margin-top: 60px;
						}

						.btn{
							color: $colorGreen;
							margin-left: 40px;
						}

						&-text{
							display: inline-block;
							vertical-align: middle;
							font-size: 15px;

							@include breakPoint($breakPoint){
								font-size: 20px;
							}
						}
					}
				}
			}


			&__title{
				text-align: right;
			}

			&__subtitle{
				font-size: 24px;
				color: $colorGreen;
				margin-top: 28px;
				margin-bottom: 15px;

				@include breakPoint($breakPointFHD){
					font-size: 30px;
				}
			}


			&__dialog{

				.dialog{
					position: absolute;

					&__answer{
						fill: $colorGreen;
					}
				}


			}

			&__btn{
				bottom: 4vh;
				position: absolute;
				right: $gutter;
				color: $colorGreen;

				@include breakPoint($breakPointFHD){
					bottom: 6vh;
				}
			}
		}
	}




	&_calculator{


		.popup{
			&__layout{

			}

			&__inner{
				background: rgba($colorGreen, .3);
			}

			&__content{

				@include breakPoint($breakPoint){
					float: right;
					@include width(6, 7);
				}

			}

			&__aside{
				display: none;

				@include breakPoint($breakPoint){
					display: block;
					@include width(4, 4);
					min-height: 100%;
					margin-right: ($grid * 6) + ($gutter * 7);
					padding: 0 $grid 0 $gutter;
					box-sizing: border-box;
					padding-top: 12vh;
				}


				&-inner{

				}

				&-title{
					font-size: 30px;
					margin-bottom: 20px;

					@include breakPoint($breakPointFHD){
						font-size: 40px;
					}
				}
				&-image{
					margin-bottom: 20px;
					//text-align: center;

					img{
						max-width: 100%;
						max-height: 45vh;
						width: auto;
					}
				}
				&-text{
					font-size: 18px;
					@include breakPoint($breakPointFHD){
						font-size: 20px;
					}
				}

				&-foot{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 50px;

				}

				&-btn{
					color: $colorGreen;
				}

				&-price{

					font-size: 40px;
					@include breakPoint($breakPointFHD){
						font-size: 60px;
					}
				}

			}


			&__calculator{

				@include breakPoint($breakPoint){
					@include width(5, 5);
					padding-right: ($grid * 1) + ($gutter * 1);

				}

				@include breakPoint($breakPointFHD){
					@include width(5, 4);
					padding-right: ($grid * 1) + ($gutter * 2);

				}


				.form{


					&__title{
						&-num{}
						&-name{
							color: $colorBlack;
						}
					}

					&__field{

						&.f-filled{
							input{
								&[type="text"]{
									@include bubble('9AC31C');
								}

							}
						}

						&-title{
							text-align: center;
						}

						input{

							&[type="text"]{
								font-size: 20px;
								@include bubble('eeeeee');
								text-align: center;
								width: 55px;
								height: 46px;
								line-height: 46px;
								transition: all 0.3s ease;
								border: 0;

								&:focus{
									@include bubble('9AC31C');
								}

								.f-filled &{
									@include bubble('9AC31C');
								}
							}

						}

						.accessibility-labels{
							position: absolute;
							width: 55px;
							height: 46px;
							line-height: 46px;
							text-align: center;
							pointer-events: none;
						}

						&.f-filled{
							.accessibility-labels{
								display: none;
							}
						}
					}
				}
			}
		}

	}

	&_order{


		.popup{
			&__layout{
				@include breakPoint(0, $breakPoint){
					overflow: hidden;
				}
			}

			&__inner{
				@include breakPoint($breakPoint){
					background: rgba($colorGreen, .3);
				}
			}

			&__content{
				width: 100%;
				padding: 0;

				&-inner{
					@include breakPoint(0, $breakPoint){
						padding-top: 0;
					}
				}
			}

			&__aside{

				display: none;

				@include breakPoint($breakPoint){
					display: block;
					@include width(3, 3);
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba($colorGreen, .3);
					font-size: 0;
				}

				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}


				&-inner{
					display: inline-block;
					vertical-align: middle;
					width: 100%;

					img{
						width: 100%;
					}

					.order__step{
						position: static;
					}
				}
			}


			&__order{

				@include breakPoint($breakPoint){

					@include width(5, 6);
					padding-right: ($grid * 1) + ($gutter * 1);
				}

				@include breakPoint($breakPointFHD){
					@include width(5, 4);
					padding-right: ($grid * 1) + ($gutter * 2);

				}
			}
		}

	}



	&_review{
		.popup{

			&__content{
				background-color: rgba($colorBlue, 0.3);
			}
		}
	}

	&_faq{
		.popup{

			&__content{
				background-color: rgba($colorYellow, 0.3);
			}
		}
	}


	&_result{
		.popup{

			&__overlay{
				opacity: 0;
			}

			&__inner{
				background: transparent;
			}

			&__layout{
				width: calc(100% - 40px);
				height: auto;
				overflow: visible;
				max-width: 548px;
			}

			&__close{
				top: 20px;
				right: 20px;

				@include breakPoint($breakPoint){
				}
			}


			&__result{
				background: #fff;
				padding: 50px 25px 40px;

				@include breakPoint($breakPoint){
					padding: 50px 100px 55px;
				}

				text-align: center;

				&-title{
					font-size: 30px;
					margin-bottom: 20px;

					@include breakPoint($breakPoint){
						font-size: 40px;
						margin-bottom: 25px;
					}

				}

				&-text{
					font-size: 18px;
					margin-bottom: 20px;

					@include breakPoint($breakPoint){
						font-size: 20px;
						margin-bottom: 25px;
					}
				}

				&-value{
					font-size: 60px;
					color: $colorGreen;
					margin-bottom: 20px;
					line-height: 1;

					@include breakPoint($breakPoint){
						font-size: 80px;
						margin-bottom: 25px;
					}
				}

				&-btn{
					color: $colorGreen;
				}
			}
		}
	}
}



.calculator{
	font-size: 0;

	&__title{
		font-size: 40px;
		margin-bottom: 50px;
		color: $colorGreen;

		@include breakPoint($breakPointFHD){
			font-size: 60px;
		}
	}



	&__result{
		font-size: 30px;

		@include breakPoint($breakPointFHD){
			font-size: 40px;
		}

		span{
			margin-left: 20px;
		}
	}
}


.order{

	&__nav{
		white-space: nowrap;
		margin-bottom: 5vh;
		height: 70px;

		@include breakPoint(0, $breakPoint){
			background: rgba($colorGreen, 0.3);
			height: 50px;
			line-height: 50px;
			padding-right: 60px;
			margin-bottom: 0;
		}

		&-item{
			font-size: 20px;
			display: inline-block;
			vertical-align: baseline;
			margin-left: 20px;
			transition: all 0.3s ease;
			color: $colorGreen;
			cursor: pointer;

			@include breakPoint($breakPoint){
				font-size: 24px;
				margin-left: 30px;
			}

			@include breakPoint($breakPointFHD){
				font-size: 30px;
				margin-left: 56px;
			}

			span{

				@include breakPoint(0, $breakPoint){
					display: none;
				}
			}


			&:last-child{
				margin-left: 0;
			}


			&.is-active{

				span{
					display: inline-block;
				}

				@include breakPoint($breakPoint){
					font-size: 35px;
				}

				@include breakPoint($breakPointFHD){
					font-size: 50px;
				}

				& ~ .order__nav-item{
					color: $colorBlack;
				}
			}
		}
	}


	&__step{
		opacity: 0;
		position: absolute;
		pointer-events: none;
		padding: 20px;

		@include breakPoint($breakPoint){
			padding: 0;
		}


		&.is-active{
			position: relative;
			display: block;
			opacity: 1;
			pointer-events: all;
		}


		.form{
			&__line{


				@include breakPoint(0, $breakPoint){
					overflow: hidden;
				}

			}
		}
	}

	&__foot{
		text-align: left;
		height: 50px;
		padding-top: 10px;
		box-sizing: border-box;

		@include breakPoint($breakPoint){
			margin-top: 50px;
			height: auto;
			padding-top: 0;
		}

		&-price{
			display: inline-block;
			vertical-align: middle;
			font-size: 20px;
			float: right;

			@include breakPoint($breakPoint){
				font-size: 30px;
			}

			span{
				font-size: 30px;

				@include breakPoint($breakPoint){
					font-size: 40px;
				}

				@include breakPoint($breakPointFHD){
					font-size: 60px;
				}
			}
		}

		&-info{
			display: inline-block;
			vertical-align: middle;
			font-size: 15px;

			span{
				color: $colorGreen;
			}

			@include breakPoint($breakPoint){
				font-size: 28px;
			}

			@include breakPoint($breakPointFHD){
				font-size: 30px;
			}
		}

		&-btn{
			display: inline-block;
			vertical-align: middle;
			color: $colorGreen;
			margin-right: 20px;

			@include breakPoint($breakPoint){
				margin-right: 32px;
			}

			.btn{
				@include breakPoint(0, $breakPoint){
					min-width: 0;
				}
			}
		}
	}


	&__form{
		&-inner{

			@include breakPoint(0, $breakPoint){
				overflow: auto;
				height: calc(100vh - 120px);
				margin: -20px -20px 0;
				padding: 20px 20px 0;
			}
		}
	}

	&__map{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $colorGrey;
	}
}