$fontMain: 'food', sans-serif;
$fontEn: 'doodle', sans-serif;

$breakPoint: 1024px;
$breakPointFHD: 1600px;



$colorGrey: #7E7E7E;
$colorBlue: #5DC4E3;
$colorGreen: #9AC31C;
$colorYellow: #FCBF00;
$colorRed: #E40E20;
$colorBlack: #000;


.c{
	&-yellow{
		color: $colorYellow;
	}
	&-green{
		color: $colorGreen;
	}
	&-blue{
		color: $colorBlue;
	}
	&-red{
		color: $colorRed;
	}
}


$gutter: 3.6vw;
$grid: (100vw - (11 * $gutter))/10;
$innerTopOffset: 16vh;
$innerTopOffsetFHD: 24.5vh;

